{
  "presets": [
    [
      "@babel/preset-env",
      {
        "forceAllTransforms": true,
        "useBuiltIns": "entry",
        "corejs": 3,
        "modules": false,
        "exclude": [
          "transform-typeof-symbol"
        ],
        "targets": {
          "browsers": [
            "> 1%",
            "ie 11"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-namespace-from",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": true,
        "corejs": false
      }
    ],
    [
      "@babel/plugin-transform-regenerator",
      {
        "async": false
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "babel-plugin-dynamic-import-node"
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-react-inline-elements",
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ]
    }
  }
}
