{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "ie 10",
            "safari 8"
          ]
        }
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "lodash",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": []
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "babel-plugin-dynamic-import-node"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
