{
  "ecmaFeatures": {
    "jsx": true
  },
  "globals": {
    "jQuery": true,
    "_": true,
    "log": true,
    "React": true,
    "ReactDOM": true,
    "Reflux": true,
    "$app": true,
    "Mousetrap": true,
    "Materialize": true,
    "I18n": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "accessor-pairs": 0,
    "block-scoped-var": 0,
    "complexity": [
      0,
      11
    ],
    "consistent-return": 0,
    "curly": [
      0,
      "all"
    ],
    "default-case": 0,
    "dot-notation": [
      0,
      {
        "allowKeywords": true
      }
    ],
    "dot-location": 0,
    "eqeqeq": 0,
    "guard-for-in": 0,
    "no-alert": 0,
    "no-caller": 0,
    "no-div-regex": 0,
    "no-else-return": 0,
    "no-empty-label": 0,
    "no-eq-null": 0,
    "no-eval": 0,
    "no-extend-native": 0,
    "no-extra-bind": 0,
    "no-fallthrough": 2,
    "no-floating-decimal": 0,
    "no-implicit-coercion": 0,
    "no-implied-eval": 0,
    "no-invalid-this": 0,
    "no-iterator": 0,
    "no-labels": 0,
    "no-lone-blocks": 0,
    "no-loop-func": 0,
    "no-multi-spaces": 0,
    "no-multi-str": 0,
    "no-native-reassign": 0,
    "no-new": 0,
    "no-new-func": 0,
    "no-new-wrappers": 0,
    "no-octal": 2,
    "no-octal-escape": 0,
    "no-param-reassign": 0,
    "no-process-env": 0,
    "no-proto": 0,
    "no-redeclare": 2,
    "no-return-assign": 0,
    "no-script-url": 0,
    "no-self-compare": 0,
    "no-sequences": 0,
    "no-throw-literal": 0,
    "no-unused-expressions": 0,
    "no-useless-call": 0,
    "no-void": 0,
    "no-warning-comments": [
      0,
      {
        "terms": [
          "todo",
          "fixme",
          "xxx"
        ],
        "location": "start"
      }
    ],
    "no-with": 0,
    "radix": 0,
    "react/display-name": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-curly-spacing": 1,
    "react/jsx-indent-props": 0,
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": 1,
    "react/jsx-no-bind": 0,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-quotes": 1,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-multi-comp": 1,
    "react/no-set-state": 0,
    "react/no-unknown-property": 1,
    "react/prefer-es6-class": 0,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 0,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1,
    "vars-on-top": 0,
    "wrap-iife": 0,
    "yoda": [
      0,
      "never"
    ]
  }
}
