{
  "rules": {
    "accessor-pairs": 0,
    "block-scoped-var": 0,
    "complexity": [
      0,
      11
    ],
    "consistent-return": 0,
    "curly": [
      0,
      "all"
    ],
    "default-case": 0,
    "dot-notation": [
      0,
      {
        "allowKeywords": true
      }
    ],
    "dot-location": 0,
    "eqeqeq": 0,
    "guard-for-in": 0,
    "no-alert": 0,
    "no-caller": 0,
    "no-div-regex": 0,
    "no-else-return": 0,
    "no-empty-label": 0,
    "no-eq-null": 0,
    "no-eval": 0,
    "no-extend-native": 0,
    "no-extra-bind": 0,
    "no-fallthrough": 2,
    "no-floating-decimal": 0,
    "no-implicit-coercion": 0,
    "no-implied-eval": 0,
    "no-invalid-this": 0,
    "no-iterator": 0,
    "no-labels": 0,
    "no-lone-blocks": 0,
    "no-loop-func": 0,
    "no-multi-spaces": 0,
    "no-multi-str": 0,
    "no-native-reassign": 0,
    "no-new": 0,
    "no-new-func": 0,
    "no-new-wrappers": 0,
    "no-octal": 2,
    "no-octal-escape": 0,
    "no-param-reassign": 0,
    "no-process-env": 0,
    "no-proto": 0,
    "no-redeclare": 2,
    "no-return-assign": 0,
    "no-script-url": 0,
    "no-self-compare": 0,
    "no-sequences": 0,
    "no-throw-literal": 0,
    "no-unused-expressions": 0,
    "no-useless-call": 0,
    "no-void": 0,
    "no-warning-comments": [
      0,
      {
        "terms": [
          "todo",
          "fixme",
          "xxx"
        ],
        "location": "start"
      }
    ],
    "no-with": 0,
    "radix": 0,
    "vars-on-top": 0,
    "wrap-iife": 0,
    "yoda": [
      0,
      "never"
    ]
  }
}
