# Ignore bundler config
/.bundle

# Ignore all logfiles, tempfiles, assets and upload files
/log/*.log
/tmp
/public/sitemap.xml.gz
/public/assets
/public/fonts
/public/javascripts
/public/stylesheets
/public/uploads
/public/vendor
/public/node_modules

# Ignore application documentation
/doc

# Ignore SQL dump
/db/*.sql
/db/dump

# Ignore OS specific files
/.directory

# Ignore node modules files
/node_modules
/npm-debug.log
/.happypack

# Ignore environment variables file
/config/application.yml
/config/settings/local.rb

# Ignore static analysis files
/static_analysis/*
/.validation/*

# Ignore user specific Rubymine files
/.idea/workspace.xml
/.idea/tasks.xml
