# Ignore bundler config
/.bundle

# Ignore all logfiles, tempfiles, assets and upload files
/log/*.log
/tmp
/public/assets
/public/fonts
/public/javascripts
/public/node_modules
/public/seo_cache
/public/service-worker*
/public/sitemap.xml.gz
/public/stylesheets
/public/uploads
/public/vendor
/public/workbox*

# Ignore application documentation
/doc

# Ignore SQL dump
/db/*.sql
/db/dump

# Ignore OS specific files
/.directory

# Ignore node modules files
/node_modules
/npm-debug.log

# Ignore environment variables file
/config/application.yml
/config/settings/local.rb

# Ignore geocoding files
/lib/geocoding/ip_db/*

# Ignore generated trasnaltion files
/app/assets/javascripts/translations
/spec/javascripts/translations

# Ignore static analysis files
/static_analysis/*
/.validation/*
/spec/.validation/*
/coverage

# Ignore user specific Rubymine files
/.idea/workspace.xml
/.idea/tasks.xml
