stages:
  - build
  - test
  - deploy
  - check

.default-cache: &default-cache
  key: "ruby-2.5.1-debian-stretch-with-yarn"
  paths:
    - .bundle
    - vendor/bundle
    - .yarn-cache
    - node_modules

.push-cache: &push-cache
  cache:
    <<: *default-cache
    policy: push

.pull-cache: &pull-cache
  cache:
    <<: *default-cache
    policy: pull

before_script:
  - date
  - rvm gemset use InRailsWeBlog

after_script:
  - date

build:
  stage: build
  cache:
    <<: *default-cache
  script:
    - ruby -v
    - node -v
    - yarn --version
    - which ruby
    - gem install bundler --no-ri --no-rdoc
    - bundle install --quiet --path=vendor/bundle --binstubs vendor/bundle/bin --jobs $(nproc) "${FLAGS[@]}"
    - yarn install --frozen-lockfile --cache-folder .yarn-cache
  only:
    - develop

check_code:
  stage: test
  <<: *pull-cache
  script:
    - bundle exec rails InRailsWeBlog:check_code
  only:
    - develop

audit:
  stage: test
  <<: *pull-cache
  script:
    - gem install bundler-audit
    - bundle audit check --update
  allow_failure: true
  only:
    - develop

brakeman:
  stage: test
  <<: *pull-cache
  script:
    - bundle exec brakeman -q
  allow_failure: true
  only:
    - develop

test:rails:
  stage: test
  variables:
    RAILS_ENV: "test"
    DATABASE_TEST_NAME: "inrailsweblog_test"
    DATABASE_TEST_USERNAME: "inrailsweblog_test"
    DATABASE_TEST_PASSWORD: "inrailsweblog"
    COVERAGE: "true"
  <<: *pull-cache
  script:
    - bundle exec rspec --tag basic spec/
  only:
    - develop

test:browser:
  stage: test
  variables:
    CI_TEST: "true"
    RAILS_ENV: "test"
    DATABASE_TEST_NAME: "inrailsweblog_test"
    DATABASE_TEST_USERNAME: "inrailsweblog_test"
    DATABASE_TEST_PASSWORD: "inrailsweblog"
  <<: *pull-cache
  script:
    - bundle exec rspec --tag advanced spec/
  # Unstable tests
  allow_failure: true
  only:
    - develop

test:npm:
  stage: test
  <<: *pull-cache
  script:
    - npm run test
  only:
    - develop

deploy:
  stage: deploy
  variables:
    RAILS_ENV: "production"
    DEPLOY_SERVER: "$DEPLOY_SERVER"
    DEPLOY_USER: "$DEPLOY_USER"
    GIT_REPO_ADDRESS: "$GIT_REPO_ADDRESS"
    GIT_REPO_USER: "$GIT_REPO_USER"
    GIT_REPO_PORT: "$GIT_REPO_PORT"
  environment:
    name: production
    url: https://www.inrailsweblog.com
  <<: *pull-cache
  script:
    - bundle exec cap production deploy
  only:
    - master

check:deploy:
  stage: check
  cache: {}
  script:
    - sh -c '[ $(curl -o -I -L -s -w "%{http_code}" https://www.inrailsweblog.com/health_check) -eq 200 ]'
    - sh -c '[ $(curl -o -I -L -s -w "%{http_code}" https://www.inrailsweblog.com) -eq 200 ]'
  only:
    - master
