- stylesheet 'admins/dashboard'

- javascript "translations/admin-#{I18n.locale}"
- javascript_defer 'runtime', 'commons', 'admins-commons', 'admins/dashboard'

#admins-dashboard-component.react-root
