- stylesheet 'admins'

- javascript "translations/admin-#{I18n.locale}"
- javascript_defer 'commons', 'admins/login'

- title titleize_admin(I18n.t('views.admin.login.title'))

= content_tag :div, '', id: 'admins-login-component', class: 'react-root'
