- stylesheet 'admins/login'

- javascript "translations/admin-#{I18n.locale}"
- javascript_defer 'runtime', 'commons', 'admins-commons', 'admins/login'

- title titleize_admin(I18n.t('views.admin.login.title'))

#admins-login-component.react-root
