@use 'base/variables' as *;
@use 'base/global';
@use 'base/utilities';
@use 'base/typography';
@use 'base/fonts';
@use 'shared/images';
@use 'shared/article';
@use 'shared/tag';
@use 'shared/topic';
@use 'shared/user';
@use 'shared/connection';
@use 'shared/search';
@use 'shared/tooltip';
@use 'shared/notification';
@use 'shared/bookmark';
@use 'shared/cookies';

// Infinite component
.infinite-scroll-component {
  overflow: initial !important;
}

// Logo URL in CSS file to get correct path
.header-brand-logo {
  display: block;
  width: 160px;
  height: 35px;
  margin-right: 12px;
  margin-top: 18px;
  text-indent: -9999em;
  background-image: url('#{$images-path}/logos/header-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: color .6s ease-in-out;

  @media #{$medium-and-down} {
    width: 40px;
    margin-right: 0;
    margin-top: 0;
    background-image: url('#{$images-path}/logos/favicon-96x96.png');
  }
}

#header-user {
  .header-brand-logo {
    margin-top: 0;
  }
}

.header-brand-logo-mobile {
  display: block;
  width: 335px;
  height: 35px;
  text-indent: -9999em;
  background: url('#{$images-path}/logos/header-logo-mobile.png') 0 0 no-repeat;
  transition: color .6s ease-in-out;
}
