@import 'base/variables';
@import 'base/global';
@import 'base/utilities';
@import 'base/typography';
@import 'base/material-design';
@import 'shared/images';
@import 'shared/article';
@import 'shared/tag';
@import 'shared/user';
@import 'shared/connection';
@import 'shared/search';
@import 'shared/tooltip';
@import 'shared/rating';
@import 'shared/cookies';
@import 'shared/animation/loader';
@import 'shared/animation/dialog';

// Infinite component
.infinite-scroll-component {
  overflow: initial !important;
}

// Logo URL in CSS file to get correct path
.header-brand-logo {
  background: url("#{$images-path}/logos/header-logo.png") 0 0 no-repeat;
  display: block;
  text-indent: -9999em;
  transition: color .6s ease-in-out;
  width: 270px;

  @media #{$medium-and-down} {
    background: url("#{$images-path}/logos/favicon-32x32.png") 0 0 no-repeat;
    width: 40px;
  }
}

.header-brand-logo-mobile {
  background: url("#{$images-path}/logos/header-logo-mobile.png") 0 0 no-repeat;
  display: block;
  text-indent: -9999em;
  transition: color .6s ease-in-out;
  width: 335px;
}
