@import 'base/variables';

.static-content {
  position: relative;
  margin: 1rem auto 4rem;
  overflow: visible;
  max-width: 924px;
}

.static-title {
  margin-top: 8px;
  color: $primary-color-dark;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.static-subtitle {
  margin: 2.5rem 0 .5rem;
  font-size: 1.6rem;
  color: $primary-color-dark;
}
