.tagsinput-tags {
  position: relative;
}

.tagsinput-tagInput {
  width: 200px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  display: inline-block;
  input {
    //height: 31px;
    margin-left: 10px;
    //font-size: 12px;
    width: 100%;
    //border: 1px solid #eee;

    &:focus {
      //height: 31px;
      margin-left: 10px;
      //font-size: 12px;
      width: 100%;
      //border: 1px solid #eee;
    }
  }
}

.tagsinput-selected {
  float: left;

  span.tagsinput-tag {
    //border: 1px solid #ddd;
    //background: #eee;
    //font-size: 12px;
    display: inline-block;
    padding: 0 15px;
    margin: 0 5px;
    cursor: move;
    //border-radius: 2px;
  }

  a.tagsinput-remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
  }
}

.tagsinput-suggestions {
  position: absolute;
  z-index: 20;

  ul {
    list-style-type: none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
    background: white;
    width: 200px;

    li.active {
      background: #b7cfe0;
      cursor: pointer;
    }
  }

  li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;

    mark {
      text-decoration: underline;
      background: none;
      font-weight: 600;
    }
  }
}
