= content_tag :div, '', id: 'admins-component', class: 'react-root', data: { component: 'AdminLogs', log_filename: log_filename, environment_log: environment_log, job_log: job_log, cron_log: cron_log, ahoy_log: ahoy_log, sentry_log: sentry_log, seo_cache_log: seo_cache_log }
