- provide(:title, t('views.article.edit.page_title', title: article.title))

- stylesheet 'articles/edit'

- javascript 'commons'
- javascript 'articles/edit'

= content_tag :div, '', id: 'article-edit-component', data: {article: ActiveModel::SerializableResource.new(article, {scope: current_user}).serializable_hash}
