- provide(:title, t('views.article.show.page_title', title: article.title))

- stylesheet 'articles/show'

- javascript 'commons'
- javascript 'common-react'
- javascript 'articles/show'

#article-creation-component

= content_tag :div, '', id: 'article-element-component', data: {article: article.to_builder(current_user_id).target!}
