- provide(:title, t('views.article.show.page_title', title: article.title))

- stylesheet 'articles/show'

- javascript 'commons'
- javascript 'articles/show'

#article-creation-component

= content_tag :div, '', id: 'article-element-component', data: {article: ActiveModel::SerializableResource.new(article, {comments: true}).serializable_hash}
