.read-more-wrap {
  white-space: pre-line;
}

.read-more-state {
  display: none;
}

.read-more-target {
  //opacity: 0;
  //max-height: 0;
  //font-size: 0;
  transition: all .5s ease-in;
}

.read-more-state ~ .read-more-wrap .read-more-target {
  overflow: hidden;
  max-height: 200px;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  max-height: 2000px;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

//.read-more-state {
//  display: none;
//}
//
//.read-more-target {
//  font-size: 0;
//  max-height: 0;
//  opacity: 0;
//  transition: .25s ease;
//}
//
//.read-more-state:checked ~ .read-more-wrap .read-more-target {
//  font-size: inherit;
//  max-height: 999em;
//  opacity: 1;
//}
//
//.read-more-state ~ .read-more-trigger:before {
//  content: 'Show more';
//}
//
//.read-more-state:checked ~ .read-more-trigger:before {
//  content: 'Show less';
//}
//
//.read-more-trigger {
//  cursor: pointer;
//  display: inline-block;
//  padding: 0 .5em;
//  color: #666;
//  font-size: .9em;
//  line-height: 2;
//  border: 1px solid #ddd;
//  border-radius: .25em;
//}
