.single-timeline {
  box-sizing: border-box;
  position: relative;
  min-height: 40px;
  padding: 8px 0 8px 62px;

  &::before {
    position: absolute;
    left: 29px;
    top: 0;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, .085);
    content: '';
    display: block;
  }

  .timeline-item {
    position: relative;
    min-height: 64px;
    padding: 16px 0;

    .timeline-icon {
      position: absolute;
      left: -54px;
      top: 16px;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background: color('blue', 'lighten-2');
      text-align: center;
      border: 4px solid #fff;

      i {
        color: #fff;
        font-size: 18px;
        line-height: 36px;
      }
    }

    .timeline-date {
      float: left;
      min-width: 60px;
      color: #aaa;
      text-align: center;
      line-height: 18px;
      font-size: 16px;
      margin-right: 8px;
      padding-top: 6px;
      width: 70px;
      word-wrap: break-word;
    }

    .timeline-content {
      padding: 0 4px 8px;
      overflow: hidden;

      i {
        font-size: inherit;
      }
    }
  }
}
