- stylesheet 'admin/managers/users'

- javascript "admin/admin-#{I18n.locale}"
- javascript_defer 'commons-admin', 'admin/managers/show-user'

#user-manager-admin-component.react-root data-user-id="#{user_id}"
