@import 'highlight.js/styles/zenburn';
@import 'codemirror/lib/codemirror';
@import 'modules/wysiwyg/summernote';
@import 'modules/components/tagsinput';
@import 'modules/animation/article';
@import 'modules/components/categorized-tag';

.blog {
  .article-form-header {
    background-color: #fff;
    border: 1px solid #00897b;
  }

  .article-form {
    padding: 0 20px;
  }

  .blog-article-box {}

  .blog-article-list {}

  .article-outdated {
   background-color: #808080;
  }

  .blog-article-history {

    .article-history-item {
      background-color: #fff;
      padding: 20px;
    }

    .article-history-item-divider {
      margin: 25px -20px;
    }
  }

  .blog-article-edit {
    background-color: #fff;

    .btn-flat {
      color: #343434;
    }
  }

  .blog-article-item {
    word-wrap: break-word;

    .article-title-inline {
    }

    .article-title {
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .article-title-card {
      color: #000;
      display: inline;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 500;

      @media #{$medium-and-down} {
        display: block;
      }

      a {
        color: $text-color-base;
        &:hover {
          color: #546e7a;
        }
      }

      h1 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
      }
    }

    .article-action {
      padding-bottom: 0;

      .fixed-action-btn {
        bottom: 0;
        position: relative;
        right: 0;
        z-index: inherit;

        a {
          margin-right: 0;
        }
      }

      a {
        color: $card-link-color;
        margin-right: $card-padding;
        transition: color .3s ease;
      }

      //.col {
      //  margin: 10px 0;
      //}
    }

    .article-summary {
      color: #bdbdbd;
      margin-bottom: 10px;
      margin-left: 15px;
    }

    .article-bookmarked {
      color: #ffd8a6;
    }

    .article-outdated {
      color: #ffd8a6;
    }

    .article-tags {
      .article-tag {
        display: inline-block;
        margin: 5px;
      }

      &.article-tags-empty {
        content: '.';
        visibility: hidden;
      }
    }

    .blog-highlight {
      background-color: #546e7a;
      color: #fff;
    }

    .article-editing .note-editor {
      box-shadow: 0 0 4px #1976d2;
    }

    .article-info {
      float: right;
      font-size: 1rem;
      line-height: 1rem;
    }

    .article-time {
      font-style: normal;
      font-weight: 300;
    }

    .article-user {
      float: left;
      line-height: 1.2rem;

      //color: $color-additional;
      //display: inline-block;
      //float: left;
      //font-size: 1.2rem;
      //font-style: normal;
      //font-weight: 400;
      //line-height: 1.2rem;
      //position: relative;
      //
      //i {
      //  font-size: 1.5rem;
      //  line-height: 1.2rem;
      //  margin-right: 5px;
      //  vertical-align: middle;
      //}
    }

    .article-goto {
      background-color: #bf360c;
    }

    .article-private {
      background-color: #e65100;
    }

    .article-public {
      background-color: #e65100;
    }

    .article-edit {
      background-color: #1b5e20;
      cursor: pointer;
    }

    .article-history {
      background-color: #512da8;
      cursor: pointer;
    }

    .article-link {

    }

    .article-visibility {
      .material-icons {
        cursor: default;
      }
    }

    a.article-delete {
      background-color: #00897b;
      cursor: pointer;
      margin-left: 4rem;
      margin-right: 4rem;
    }

    a.article-cancel {
      background-color: #e64a19;
      cursor: pointer;
    }

    a.article-update {
      background-color: #00796b;
      cursor: pointer;
    }
  }

  .blog-article-content {
    h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form {
      margin: 0;
      padding: 0;
    }

    h1, h2, h3, h4 {
      margin-bottom: .5rem;
    }

    h1, h2 {
      margin-top: 2rem;
    }

    h3, h4 {
      margin-top: 1.5rem;
    }

    h1 {
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
    }

    h2 {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 500;
    }

    h3 {
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
    }

    h4 {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
    }

    ul {
      margin-top: 2rem;
      padding: 0;

      li {
        list-style-type: disc;
        margin-bottom: 1rem;
        margin-left: 2rem;
      }
    }

    blockquote {
      border-left: 3px solid rgba(0, 0, 0, .8);
      font-style: italic;
      font-weight: 400;
      margin-left: -2rem;
      padding-bottom: 3px;
      padding-left: 2.5rem;
    }

    pre {
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      border-radius: .25rem;
      margin-bottom: 1.5rem;
      padding: .5rem .75rem;
    }

    .secret {
      @include special-style($secret-color);
    }

    .advice {
      @include special-style($advice-color);
    }

    .deadend {
      @include special-style($deadend-color);
    }
  }
}
