.bookmark-root {
  margin: 15px;
  min-width: 220px;
}

.bookmark-title {
  margin: 8px;

  @media #{$medium-and-down} {
    display: none;
  }
}

.bookmark-link {
  font-size: .9rem;
  color: $primary-color-dark;
  line-height: 1.2rem;
}

.bookmark-none {
  font-style: italic;
  margin-top: 10px;
}
