.bookmark-root {
  margin: 15px;
  min-width: 220px;

  .MuiListItemIcon-root {
    min-width: auto;
    margin-right: 8px;
  }
}

.bookmark-title {
  margin: 8px 8px 0;

  @media #{$medium-and-down} {
    display: none;
  }
}

.bookmark-link {
  font-size: .9rem;
  color: $secondary-color;
  line-height: 1.2rem;
}

.bookmark-none {
  font-style: italic;
  margin-top: 10px;
}
