@use 'base/variables' as *;

.cookies-message {
  background-color: $background-color;
  border-top: 1px solid $border-color;
  bottom: 0;
  color: $text-color;
  font-size: 14px;
  left: 0;
  margin: 0;
  padding: 12px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  @media #{$medium-and-down} {
    padding: 3px 15px;
  }
}

.cookies-container {
  width: 1280px;
  padding-left: 85px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  font-size: 15px;
  text-align: left;

  @media #{$large-and-down} {
    width: 80%;
    padding-left: 24px;
  }

  @media #{$medium-and-down} {
    width: 96%;
    padding-left: 0;
    font-size: 11px;
  }
}

.cookies-title {
  font-weight: 800;
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.cookies-content {
  font-size: .75rem;
}

.cookies-button {
  text-decoration: none;
  color: #fff;
  background: #21ca87;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding: 0 18px;
  font-weight: 700;
  border-radius: 3px;
  border: 0;
  display: inline-block;
  text-align: center;
  margin: 8px 7px 12px;
}

.cookies-more {
  font-size: 12px;
  height: 44px;
  line-height: 44px;
  padding: 0 16px;
  text-decoration: underline;
  background: $background-color;
  border: 0;
  display: inline-block;
  text-align: center;
  color: $text-color;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 12px;

  @media #{$medium-and-down} {
    font-size: 10px;
  }
}

.cookies-details {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: .65rem;
}

.cookies-list {
  margin: 20px 0 0;
  max-width: 740px;
  display: table;
  width: 100%;
  padding: 0;
  list-style: none;
}

.cookies-element {
  padding: 35px 55px 10px 0;
  transition: all .3s cubic-bezier(.53, .01, .36, 1.63);
  position: relative;
  border-bottom: 1px solid #d4d4d4;
}

.cookies-element-input {
  position: absolute;
  left: -9999px;
  border: 0;
  margin-right: .5rem;
}

.cookies-element-label {
  font-weight: 800;
  color: #333;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 5px;
  left: 0;
  padding: 0;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.cookies-element-label::before {
  content: '';
  display: block;
  width: 40px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  background: #3aaa35;
  border-radius: 100px;
}

.cookies-element-label::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 2px;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 100px;
  transition: right .3s ease;
}

.cookies-element-content {
  font-size: .65rem;
}

.cookies-list [type=checkbox]:not(:checked) + label::before {
  background: #878787;
}

.cookies-list [type=checkbox]:not(:checked) + label::after {
  right: 18px;
}
