.responsive-modal-overlay {
  z-index: 1250;
}

.responsive-modal {
  width: 95%;

  @media #{$large-and-up} {
    width: 900px;
  }

  .responsive-modal-title {
    background: #fff;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    border-top-left-radius: .28571429rem;
    border-top-right-radius: .28571429rem;
    margin: 0;
    padding: 1.25rem 1.5rem;

    h1 {
      color: $text-color;
      font-size: 1.42857143rem;
      font-weight: 700;
      line-height: 1.28571429em;
      margin: 0;
      text-align: left;
    }
  }

  .responsive-modal-content {
    padding: 0;

    @media #{$large-and-up} {
      padding: 2rem;
    }
  }
}
