@import 'base/variables';

// ***
// Search header
// ***
.search-header-search {
  width: 100%;
  border: 1px solid #eee;
  position: relative;
  transition: border 1s ease-out;
  margin-left: 0 !important;
  margin-right: 16px;
  border-radius: 24px;
  background-color: #f5f5f5;

  @media (min-width: 600px) {
    width: auto;
    margin-left: 24px;
  }

  &:hover {
    border: 1px solid #aaa;
  }
}

.search-header-searchIcon {
  color: #000;
  width: 72px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.search-header-inputLabel {
  height: 0;
  text-indent: -9999px;
}

.search-header-inputRoot {
  color: #000;
  width: 100%;
  padding-left: 64px;
}

.search-header-inputInput {
  width: 100%;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;

  @media (min-width: 960px) {
    width: 400px;
  }

  @media (min-width: 960px) {
    width: 38vw;
    min-width: 400px;
  }
}

.search-header-inputInputFocus {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;

  @media (min-width: 960px) {
    width: 38vw;
    min-width: 400px;
  }
}

.search-header-selectedTagsChip {
  color: $text-color-secondary;
  cursor: pointer;
  margin: 4px;
  font-size: .9rem;
  font-weight: 400;
  border-color: $text-color-secondary;
  border-radius: 4px;
}

// ***
// Search module
// ***
.search-module {
  @media #{$medium-and-up} {
    background: $background-color;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s, visibility .3s;
    visibility: hidden;
    //width: 100%;
    z-index: 2;

    form {
      height: 100%;
      // 170px (margin left) is the sum of the logo width (124px) and additional 46px margin (to separate the form form the logo)
      // 116px (margin right) takes into account the space occupied by the a.cd-search-trigger and a.search-header-close
      margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
      position: relative;
    }

    &.is-visible {
      opacity: 1;
      visibility: visible;
      z-index: 1260;

      .search-header-close {
        transform: translateY(-50%) scale(1);
      }
    }

    .animate-search &.is-visible {
      // trigger search form animation if <header> has the .animate-search class
      animation: cd-slide-in .3s;
    }
  }
}

@keyframes cd-slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.blog-cover-layer {
  // cover main content when search form is open - hidden on small devices
  display: none;

  @media #{$medium-and-up} {
    background: $border-dark-color;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .3s, visibility .3s;
    visibility: hidden;
    width: 100%;
    z-index: 1200;

    &.search-form-visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.search-module-results {
  display: block;
  left: 0;
  margin: 0 calc(5% + 90px);
  max-height: 80vh;
  //height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 64px;
  width: calc(90% - 220px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  @media #{$medium-and-down} {
    margin: 0;
    max-height: 94%;
    width: 100%;
  }

  .animate-search .is-visible & {
    animation: cd-3d-rotation .5s .3s;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
    // Force Hardware Acceleration
    transform: translateZ(0);
    // trigger the dropdown animation if <header> has the .animate-search class
    transform-origin: center top;
  }
}

@keyframes cd-3d-rotation {
  0% {
    transform: perspective(1000px) rotateX(-90deg);
  }

  100% {
    transform: perspective(1000px) translateY(0);
  }
}

.search-module-searching {
  //background-color: rgba(0, 0, 0, .65);
  display: block;
  height: 100%;
  padding-top: 1.4rem;
  //position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  //width: 100%;
  z-index: 2;
}

.search-module-close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.search-module-container {
  padding: .2rem 2rem 1.6rem;
  position: relative;

  @media #{$large-and-down} {
    margin-top: 1rem;
  }
}

.search-module-gridItem {
  @media #{$large-and-down} {
    padding: 8px 16px !important;
  }
}

.search-module-category {
  margin-bottom: 16px;

  @media #{$large-and-down} {
    margin-bottom: 8px;
  }
}

.search-module-categoryName {
  font-size: 1.6rem;
  margin-top: 10px;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 16px;

  @media #{$large-and-down} {
    margin-top: 0;
    margin-bottom: 12px;
  }
}

.search-module-categoryCount {
  color: #757575;
  font-size: 1rem;
  font-weight: 300;
  margin-left: .6rem;
}

.search-module-categoryDivider {
  margin: 16px;
}

.search-module-defaultMessage {
  margin: 32px;
  font-style: italic;
  text-align: center;
}

.search-module-helpMessage {
  color: #757575;
  font-size: 1rem;
  font-style: italic;

  @media #{$large-and-down} {
    display: none;
  }
}

.search-module-tag {
  cursor: pointer;
  margin: 4px 8px;
  border-color: $text-color-secondary;
  border-radius: 4px;
}

.search-module-tagSelected {
  background-color: $primary-color;
}

.search-module-tagHighlighted {
  background-color: $secondary-color;
}

.search-module-tagLink {
  color: $text-color-secondary;
  font-size: .9rem;
  font-weight: 400;
}

.search-module-tagAdd {
  color: $text-color-secondary;
  width: 26px;
  border-left: 1px solid #9e9e9e;
  padding-left: 6px;
}

.search-module-topic {
  cursor: pointer;
  margin: 4px 8px;
  font-size: .9rem;
  font-weight: 400;
}

.search-module-articleMainItem {
  min-height: 50px;
}

.search-module-articleMainResult {
  color: $text-color;
  font-size: 1.1rem;
  margin-right: 10px;
}

.search-module-articleHighlightResult {
  color: #757575;
  font-size: .9rem;
  padding-left: 8px;
}

.search-module-articleSecondaryResult {
  color: #757575;
}

.search-module-otherArticlesTitle {
  color: #757575;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  padding-left: 15px;
}

.search-module-articleHighlighted {
  border: 1px solid $secondary-color;
  padding: 5px;
  border-radius: 6px;
}

.search-module-articleTag {
  color: $text-color-secondary;
  margin: 8px;
  padding: 8px;
  font-size: .8rem;
  font-weight: 400;
  border-color: #e0e0e0;
  border-radius: 16px;
}

.search-module-articleEdit {
  color: $text-color;
  font-size: 1rem;
}

.search-module-searchButton {
  text-align: center;

  @media #{$large-and-down} {
    margin-top: 12px;
  }
}

.blog-search-header {
  .search-header-close {
    background-color: inherit;
    color: transparent;
    display: none;
    height: 54px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: transform .3s;
    white-space: nowrap;
    width: 40px;

    .material-icons {
      font-size: 28px;
      margin-left: 8px;
    }
  }
}

.search-suggestion {
  margin: 20px 0;
  text-align: center;

  .search-suggestion-tag,
  .search-suggestion-article {
    background-color: inherit;
    color: $text-color;
    text-decoration: underline;
    margin: 0 .4rem;
    font-weight: 600;
  }
}

.search-highlight {
  background-color: $secondary-color;
  color: $background-color;
  border-radius: 5px;
}

// ***
// Search sidebar
// ***
.search-sidebar-drawerPaper {
  width: 280px;
  position: fixed;
  margin-top: 62px;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  border-right: 1px solid #f5f5f5;
}

.search-sidebar-drawerPaperBorderless {
  border-left: 0;
  border-right: 0;
}

.search-sidebar-drawerPaperOverflow {
  overflow: hidden;
}

.search-sidebar-drawerPaperClose {
  width: 72px;
  overflow-x: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

  @media #{$small-and-down} {
    width: 56px;
  }
}

.search-sidebar-searchSidebar {
  margin: .4rem .6rem;
}

.search-sidebar-filterTitle {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2rem;
  margin-top: .3rem;
  margin-bottom: .3rem;
  border-bottom: 1px solid #ccc;
}

.search-sidebar-filterCategory {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 1.2rem;
}

.search-sidebar-filterCategoryTitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.search-sidebar-sliderMark {
  color: $text-color;
  font-size: .8rem;
}
