.search-module {
  @media #{$medium-and-up} {
    background: $background-color;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s, visibility .3s;
    visibility: hidden;
    //width: 100%;
    z-index: 2;

    form {
      height: 100%;
      // 170px (margin left) is the sum of the logo width (124px) and additional 46px margin (to separate the form form the logo)
      // 116px (margin right) takes into account the space occupied by the a.cd-search-trigger and a.search-header-close
      margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
      position: relative;
    }

    &.is-visible {
      opacity: 1;
      visibility: visible;
      z-index: 1260;

      .search-header-close {
        transform: translateY(-50%) scale(1);
      }
    }

    .animate-search &.is-visible {
      // trigger search form animation if <header> has the .animate-search class
      animation: cd-slide-in .3s;
    }
  }
}

@keyframes cd-slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.blog-cover-layer {
  // cover main content when search form is open - hidden on small devices
  display: none;

  @media #{$medium-and-up} {
    background: $border-dark-color;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .3s, visibility .3s;
    visibility: hidden;
    width: 100%;
    z-index: 1200;

    &.search-form-visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.search-module-results {
  display: block;
  left: 0;
  margin: 0 calc(5% + 90px);
  max-height: 80vh;
  //height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 64px;
  width: calc(90% - 220px);

  @media #{$medium-and-down} {
    margin: 0;
    max-height: 94%;
    width: 100%;
  }

  .animate-search .is-visible & {
    animation: cd-3d-rotation .5s .3s;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
    // Force Hardware Acceleration
    transform: translateZ(0);
    // trigger the dropdown animation if <header> has the .animate-search class
    transform-origin: center top;
  }
}

@keyframes cd-3d-rotation {
  0% {
    transform: perspective(1000px) rotateX(-90deg);
  }

  100% {
    transform: perspective(1000px) translateY(0);
  }
}

.search-module-searching {
  //background-color: rgba(0, 0, 0, .65);
  height: 100%;
  padding-top: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.blog-search-header {
  .search-header-close {
    background-color: inherit;
    color: transparent;
    display: none;
    height: 54px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: transform .3s;
    white-space: nowrap;
    width: 40px;

    .material-icons {
      font-size: 28px;
      margin-left: 8px;
    }
  }
}

.search-suggestion {
  margin: 20px 0;
  text-align: center;

  .search-suggestion-tag,
  .search-suggestion-article {
    background-color: inherit;
    color: $text-color;
    text-decoration: underline;
    margin: 0 .4rem;
    font-weight: 600;
  }
}

.search-highlight {
  background-color: $secondary-color;
  color: $background-color;
}

.search-module-close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
