@use 'base/variables' as *;

// ***
// Tag sidebar
// ***
.tag-sidebar-cloud-list {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;

  @media #{$large-and-down} {
    margin: .4rem .6rem;
  }
}

.tag-sidebar-cloud-topic {
  margin: 1.3rem .4rem .3rem;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid #eee;
}

.tag-sidebar-cloud-tag {
  color: rgba(0, 0, 0, 0.63);
  cursor: pointer;
  margin: 4px;
  font-size: .9rem;
  font-weight: 400;
  border-color: rgba(0, 0, 0, 0.63);
  border-radius: 4px;
}

.tag-sidebar-tag-list {
  padding: 0 0 80px;
  position: relative;
  white-space: nowrap;
}

.tag-sidebar-labels-link {
  top: -32px;
  right: 12px;
  position: absolute;

  @media #{$large-and-down} {
    display: none;
  }
}

.tag-sidebar-labels-icon {
  color: $text-color;
  height: .8em;
  margin-left: 8px;
}

.tag-sidebar-list-item {
  padding-bottom: 4px;
}

.tag-sidebar-search-item {
  padding-top: 4px;
}

.tag-sidebar-title {
  font-style: italic;
  text-align: center;
  margin-left: 60px;
}

.tag-sidebar-item {
  padding: 0 16px;
  transform: translate(0);
  transition: all .45s;
}

.tag-sidebar-item-open {
  transform: translate(-60px);
}

.tag-sidebar-input {
  width: auto;
  margin-top: 0;
  margin-right: -60px;
}

.tag-sidebar-tags {
  height: 90vh;
  opacity: 0;
  margin-top: 1rem;
  transition: visibility .35s, opacity .35s ease-in-out;
  visibility: hidden;
}

.tag-sidebar-tags-open {
  opacity: 1;
  visibility: visible;
}

.tag-sidebar-expand-icon {
  width: 25%;
  height: 30px;
  padding: 2px 8px;
}

.tag-sidebar-label {
  color: $text-color-secondary;
  margin: 4px;
  font-size: .85rem;
  font-weight: 400;
}

.tag-sidebar-nested-label-root {
  padding-left: 36px;
}

.tag-sidebar-nested-label {
  color: $text-color-secondary;
  font-size: .8rem;
  font-weight: 400;
}

.tag-sidebar-selected-label {
  color: $secondary-color-light;
  font-size: .95rem !important;
  font-weight: 700;
}

.tag-sidebar-no-tags {
  color: #616161;
  padding: 1rem;
  font-size: .95rem;
  font-style: italic;
  white-space: normal;
}

// ***
// Tag chip
// ***
.tag-chip-tag-chip {
  color: $text-color-secondary;
  cursor: pointer;
  margin: 4px;
  padding: 8px;
  font-size: .9rem;
  font-weight: 400;
  border-color: $text-color-secondary;
  border-radius: 20px;
}

.tag-chip-tag-chip-large {
  height: 42px;
  margin: 8px;
  padding: 8px;

  @media #{$small-and-down} {
    padding: 3px;
  }
}

.tag-chip-tag-chip-small {
  height: 30px;
  margin: 4px;
  padding: 4px;
}

.tag-chip-tag-label {
  margin: 2.4px;
  padding: 12px;
  font-size: .9rem;
}

.tag-chip-tag-label-small {
  font-size: .8rem;
}

.tag-chip-parent {
  margin: 8px;
}

.tag-chip-child {
  margin: 8px;
}

.tag-errors {
  color: $error-color;
}

.categorized-parent-tag {
  .cti-tag {
    border-color: $primary-color-dark;
    color: $primary-color-dark;
  }

  .cti-tag-delete {
    color: $primary-color-dark;
  }
}

.categorized-child-tag {
  .cti-tag {
    border-color: $secondary-color-dark;
    color: $secondary-color-dark;
  }

  .cti-tag-delete {
    color: $secondary-color-dark;
  }
}
