.topic-header-button {
  color: $background-color;
  font-weight: 700;

  @media #{$small-and-down} {
    padding: 0 1rem;
  }

  .topic-header-text {
    color: $background-color;
    font-weight: 700;
    line-height: 36px;

    @media #{$small-and-down} {
      display: none;
    }
  }

  .material-icons {
    color: $background-color;
    font-weight: 700;
    line-height: 36px;
  }
}

.topics-sidebar {
  background-color: $background-color;
  border: 1px solid $border-dark-color;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 1px 2px 0 $border-dark-color;
  line-height: 2rem;
  margin: 0;
  max-height: 600px;
  overflow: auto;
  padding: .4rem;
  position: fixed;
  width: 280px;
  z-index: 60;

  &.topic-sidebar-overhead {
    overflow: hidden;
  }

  .topic-overhead {
    background-color: $off-black;
    height: 100%;
    left: 0 !important;
    opacity: 0;
    padding: .6rem;
    position: absolute;
    text-align: center;
    top: 0 !important;
    transition: opacity .4s linear;
    user-select: none;
    vertical-align: middle;
    width: 100%;
    will-change: opacity;
    z-index: -1;

    &.topic-overhead-active {
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1000;
    }
  }

  .topics-list-name {
    color: $text-color;
    font-size: 1rem;
    margin: 1pc 30px 10px 8px;
    position: relative;
  }

  .topics-list {
    position: relative;

    .topic-item {
      background-color: $astral-color;
      border-radius: 3px;
      box-sizing: border-box;
      cursor: pointer;
      height: 3rem;
      line-height: 3rem;
      margin: .6rem 0;
      padding: 0 0 0 .8rem;
      position: relative;
      width: 100%;

      .topic-item-details {
        background: lighten($astral-color, 45%);
        color: $text-color;
        padding: 0 .8rem;
        position: relative;
        transition: .25s all ease .1s;

        &:hover {
          padding-left: 1.4rem;
        }

        &.topic-item-current {
          font-weight: 600;
        }

        //.topic-item-edit {
        //  position: absolute;
        //  right: 0;
        //  line-height: 1rem;
        //  color: #a0a0a0;
        //  display: inline-block;
        //  height: 3rem;
        //  top: 0;
        //  margin: 0 .4rem;
        //
        //  &:hover {
        //    color: #000;
        //  }
        //
        //  .material-icons {
        //    font-size: 1.4rem;
        //    height: 3rem;
        //    line-height: 3rem;
        //  }
        //}
      }
    }
  }

  .topics-add {
    color: $text-color;
    cursor: pointer;
    margin: 6px 4px 0 0;
    padding: 8px;
    position: relative;

    &:hover {
      color: darken($text-color, 20%);
      text-decoration: underline;
    }
  }

  .topic-edit-content {
    display: table;
    height: 100%;
    padding: .6rem;
    width: 100%;

    .topic-edit-center {
      color: $background-color;
      display: table-cell;
      vertical-align: middle;
    }

    .topic-edit-title {
      color: $background-color;
      margin-bottom: 20px;
    }

    input {
      border-bottom: 1px solid $background-color !important;
      font-size: 1.2rem;
      height: 100%;
      margin: .2rem .4rem;
      padding: 0;

      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .8);
      }
      &::-moz-placeholder {
        color: rgba(255, 255, 255, .8);
      }
      &:-ms-input-placeholder {
        color: rgba(255, 255, 255, .8);
      }
      &:-moz-placeholder {
        color: rgba(255, 255, 255, .8);
      }
    }

    label {
      color: $background-color;
      top: -14px;
    }
  }

  input.topic-button {
    background-color: $success-color;
    border-bottom: none !important;
    border-radius: 3px;
    box-shadow: 0 1px 0 $success-color;
    box-sizing: border-box;
    color: $background-color;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    height: 36px;
    line-height: 22px;
    margin: 25px 4px 0 0;
    padding: 5px 30px;
    text-align: center;
  }
}
