@import 'base/variables';

// ***
// Topic module
// ***
.topic-module-module {
  width: 340px;
  border: 1px solid #e0e0e0;
  margin: 0;
  padding: .4rem;
  z-index: $zindex-topic;
  overflow: auto;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  max-height: 600px;
  min-height: 400px;
  line-height: 2rem;
  border-radius: 0 3px 3px 0;

  @media #{$medium-and-down} {
    width: 90vw;
    font-size: 1.3rem;
  }
}

.topic-module-title {
  margin: 1pc 20px 10px 8px;
  position: relative;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;

  @media #{$large-and-down} {
    font-size: 1.5rem;
  }
}

.topic-module-close {
  top: 6px;
  right: 14px;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;

  @media #{$medium-and-up} {
    display: none;
  }
}

.topic-module-list {
  margin: 8px;
  position: relative;
}

.topic-module-item {
  width: 100%;
  cursor: pointer;
  height: 3rem;
  margin: .6rem 0;
  display: block;
  padding: 0 0 0 .8rem;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  line-height: 3rem;
  border-radius: 3px;
  background-color: $primary-color;

  @media #{$large-and-down} {
    margin: 1rem 0;
  }
}

.topic-module-itemContent {
  color: #fff;
  display: block;
  padding: 0 .8rem;
  overflow: hidden;
  position: relative;
  background: $primary-color-dark;
  transition: .25s all ease;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    padding-left: 1.4rem;
  }
}

.topic-module-currentItem {
  font-weight: 600;
}

.topic-module-edition {
  top: 11px;
  color: #fff;
  right: 8px;
  display: inline-block;
  position: absolute;
}

// ***
// Summary stories
// ***
.topic-summary-container {
  margin: 1rem auto 0.5rem;
  overflow: visible;
  position: relative;
  max-width: 100%;
  box-shadow: 0 0 5px $secondary-color-light;
  border-radius: 12px;
  background-color: rgb(254, 253, 248);

  @media #{$large-and-down} {
    margin: .5rem auto 1rem;
  }
}

.topic-summary-root {
  padding: 1rem 1rem 1.5rem;
}

.topic-summary-topicTitle {
  margin: 1rem 0;
  font-size: $h1-size-extract;
  text-align: center;
  font-weight: $h1-weight-extract;
  line-height: $h1-line-height-extract;
  letter-spacing: $h1-spacing-extract;
}

.topic-summary-topicDesc {
  padding: 0 16px;
  font-size: 1.1rem;
  font-style: italic;
}

.topic-summary-topicLink {
  font-size: .9rem;
  margin-top: .6rem;
}

// ***
// Topic persistence
// ***
.topic-persistence-modal {
  top: 45%;
  left: 50%;
  width: 35vw;
  padding: 32px;
  position: absolute;
  transform: translate(-50%, -45%);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;

  @media #{$large-and-down} {
    width: 90vw;
  }
}

.topic-persistence-topicField {
  width: 100%;
  margin: 12px 0.8px;
}

.topic-persistence-topicModeHelper {
  border: 1px solid #ddd;
  margin: 4px 0.8px 16px;
  padding: 8px 16px;
}
