@import 'shared/animation/user';
@import 'pages/users/avatar';

.blog {
  //.blog-user-pref {
  //  background-color: color('blue-grey', 'darken-1');
  //  border-top: 1px solid #111;
  //  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .5), 0 2px 10px 0 rgba(0, 0, 0, .5);
  //  display: none;
  //  margin-bottom: 0;
  //  position: fixed;
  //  right: 0;
  //  min-width: 800px;
  //  z-index: 100;
  //
  //  .collapsible-body .row {
  //    background-color: white;
  //    margin: 0;
  //    padding: 1.2rem;
  //  }
  //}

  //@media #{$medium-and-down} {
  //  .blog-user-pref {
  //    min-width: 640px;
  //  }
  //}

  //@media #{$small-and-down} {
  //  .blog-user-pref {
  //    min-width: 360px;
  //  }
  //}

  .blog-user {
    .user-card {
      .user-image {
        position: relative;

        .card-title {
          font-weight: 400;
          color: #212121;
          position: absolute;
          bottom: -2.8rem;
          left: 0;
          padding: 20px;
        }

        img {
          //object-fit: contain;
          //width: 100%;
          //height: 250px;
        }
      }

      .user-no-image {
        height: 200px;

        i {
          width: 100%;
          font-size: 80px;
          line-height: 80px;
          color: color('light-green', 'darken-3');
        }
      }

      .user-action {
        a {
          color: color('orange', 'accent-2') !important;
        }
      }
    }
  }

  .user-activity {
    .activity-list {
      margin: 0;
      list-style: none;
      padding: 0;

      > li {
        margin: 0;
        min-height: 48px;
        padding: 8px 4px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        position: relative;
        list-style: none;

        .activity-list-action-dropdown {
          position: absolute;
          right: 16px;
          top: 10px;
          display: none;
        }

        &:last-child {
          border-bottom: none;
        }

        > .activity-list-content {
          overflow: hidden;

          > span {
            display: block;
          }

          .activity-list-heading {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            display: block;
            overflow: hidden;
            padding-bottom: 1px;
            color: #444;
          }

          .activity-list-body {

          }

          .activity-list-date {
            color: #757575
          }

          .activity-list-menu {
            float: right;

            .activity-list-menu-toggle {
              display: block;
              font-size: 18px;
              color: rgba(0, 0, 0, .8);
              width: 28px;
              height: 28px;
              line-height: 28px;
              border-radius: 14px;
              text-align: center;
            }
          }

          .activity-list-action {
            float: right;
            margin-left: 8px;
            margin-top: 2px;
            display: none;
          }

          .activity-list-action-placeholder {
            float: right;
            margin-left: 8px;
            display: none;
            width: 32px;
            height: 32px;
          }
        }

        > a.activity-list-content {
          display: block;
          color: #212121;
        }
      }
    }

    .activity-list-addon-element {
      position: absolute;
      left: -64px;
      top: -1px;
      bottom: -1px;
      width: 64px;
      text-align: center;
      padding: 8px 0;
      display: block;

      & > .activity-list-addon-avatar {
        margin-top: 2px;
      }

      & > .activity-list-addon-icon {
        font-size: 28px;
        margin-top: 4px;
        color: color('light-green', 'darken-1');
      }
    }

    .activity-list-outside {
      > li {
        padding: 0;

        &.heading_list {
          padding: 32px 16px 16px;
        }

        > .activity-list-content {
          padding: 8px 16px;
          display: block;
          color: #212121;
        }
      }

      &.activity-list-addon li {
        margin-left: 0;

        .activity-list-addon-element {
          position: relative;
          top: auto;
          left: auto;
          float: left;
        }

        .activity-list-content {
          padding-left: 0;
        }
      }
    }

    .activity-list-addon > li {
      margin-left: 64px;
      position: relative;

      &:last-child .activity-list-addon-element {
        border-bottom: none;
        bottom: 0;
      }

      &:first-child .activity-list-addon-element {
        top: 0;
      }
    }
  }

  .user-tracking {
    .tracking-name {
      clear: both;
      font-size: 1rem;
      line-height: 1.3rem;
      margin: .4664rem 0 1.5rem;
    }
  }

  .user-heading {
    background: #1976d2;
    box-sizing: border-box;
    color: #fff;
    padding: 24px;
    position: relative;
    transition: all 280ms cubic-bezier(.4, 0, .2, 1);

    .user-heading-menu {
      position: absolute;
      right: 8px;
      top: 8px;

      .btn-flat {
        color: inherit;
      }
    }

    .user-heading-avatar {
      float: left;
      margin-right: 24px;
      position: relative;

      .thumbnail {
        border: 2px solid #fff;
        border-radius: 50%;
        box-sizing: border-box;
        height: 82px;
        line-height: 74px;
        overflow: hidden;
        width: 82px;
      }
    }

    .user-heading-content {
      padding: 16px 0;

      .user-stats {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        text-align: center;

        li {
          float: left;
          list-style: none;
          margin-right: 48px;
          padding: 0;
        }
      }
    }

    .user-edit-icon {
      background: #7cb342;
      border-radius: 50%;
      bottom: -22px;
      box-sizing: border-box;
      display: block;
      height: 48px;
      position: absolute;
      right: 24px;
      text-align: center;
      width: 48px;

      i {
        color: #fff;
        font-size: 24px;
        height: inherit;
        left: 0;
        line-height: 48px;
        position: absolute;
        top: 0;
        width: inherit;
      }
    }
  }

  .user-content {
    padding: 32px;
    position: relative;
  }
}
