- provide(:title, t('views.user.show.page_title', pseudo: user.pseudo))

- stylesheet 'users/show'

- javascript 'commons'
- javascript 'users/show'

#article-creation-component

#article-box-component data-user-id="#{user.id}" data-user-pseudo="#{user.pseudo}" data-mode="#{mode}"
