html {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  color: $text-color;
  box-sizing: border-box;

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 16px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
  color: $link-color;
  text-decoration: none;
  word-break: break-word;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;

  @media #{$large-and-up} {
    width: 70%;
  }

  @media #{$large-and-down} {
    width: 85%;
  }

  @media #{$medium-and-up} {
    width: 85%;
  }

  @media #{$small-and-down} {
    width: 90%;
  }
}

.col .row {
  margin-left: (-1 * $gutter-width / 2);
  margin-right: (-1 * $gutter-width / 2);
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.no-pad {
    padding: 0;
  }

  &.no-pad-bot {
    padding-bottom: 0;
  }

  &.no-pad-top {
    padding-top: 0;
  }
}


// Mixins to eliminate code repitition
@mixin reset-offset {
  margin-left: auto;
  left: auto;
  right: auto;
}

@mixin grid-classes($size, $i, $perc) {
  &.offset-#{$size}#{$i} {
    margin-left: $perc;
  }
  &.pull-#{$size}#{$i} {
    right: $perc;
  }
  &.push-#{$size}#{$i} {
    left: $perc;
  }
}


.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  // Clear floating children
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    box-sizing: border-box;
    padding: 0 $gutter-width / 2;
    min-height: 1px;

    &[class*="push-"],
    &[class*="pull-"] {
      position: relative;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.s#{$i} {
        width: $perc;
        @include reset-offset;
      }
      $i: $i + 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      @include grid-classes("s", $i, $perc);
      $i: $i + 1;
    }

    @media #{$medium-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.m#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("m", $i, $perc);
        $i: $i + 1;
      }
    }

    @media #{$large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.l#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("l", $i, $perc);
        $i: $i + 1;
      }
    }

    @media #{$extra-large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.xl#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("xl", $i, $perc);
        $i: $i + 1;
      }
    }
  }
}

.row {
  &.input-form {
    margin-bottom: 0;
  }

  .col {
    @media #{$small-and-down} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        &.s#{$i} {
          margin-left: 0;
          width: $perc;
        }
        &.offset-s#{$i} {
          margin-left: $perc !important;
        }
        &.pull-s#{$i} {
          right: $perc;
        }
        &.push-s#{$i} {
          left: $perc;
        }
        $i: $i + 1;
      }
    }

    @media #{$medium-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        &.m#{$i} {
          margin-left: 0;
          width: $perc;
        }
        &.offset-m#{$i} {
          margin-left: $perc !important;
        }
        &.pull-m#{$i} {
          right: $perc;
        }
        &.push-m#{$i} {
          left: $perc;
        }
        $i: $i + 1;
      }
    }

    @media #{$large-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        &.l#{$i} {
          margin-left: 0;
          width: $perc;
        }
        &.offset-l#{$i} {
          margin-left: $perc !important;
        }
        &.pull-l#{$i} {
          right: $perc;
        }
        &.push-l#{$i} {
          left: $perc;
        }
        $i: $i + 1;
      }
    }

    @media #{$extra-large-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        &.xl#{$i} {
          margin-left: 0;
          width: $perc;
        }
        &.offset-xl#{$i} {
          margin-left: $perc !important;
        }
        &.pull-xl#{$i} {
          right: $perc;
        }
        &.push-xl#{$i} {
          left: $perc;
        }
        $i: $i + 1;
      }
    }
  }

  @media #{$small-and-down} {
    .s2-clearfix:nth-child(6n+1) {
      clear: both;
    }
    .s3-clearfix:nth-child(4n+1) {
      clear: both;
    }
    .s4-clearfix:nth-child(3n+1) {
      clear: both;
    }
    .s6-clearfix:nth-child(2n+1) {
      clear: both;
    }
  }

  @media #{$medium-only} {
    .m2-clearfix:nth-child(6n+1) {
      clear: both;
    }
    .m3-clearfix:nth-child(4n+1) {
      clear: both;
    }
    .m4-clearfix:nth-child(3n+1) {
      clear: both;
    }
    .m6-clearfix:nth-child(2n+1) {
      clear: both;
    }
  }

  @media #{$large-and-up} {
    .l2-clearfix:nth-child(6n+1) {
      clear: both;
    }
    .l3-clearfix:nth-child(4n+1) {
      clear: both;
    }
    .l4-clearfix:nth-child(3n+1) {
      clear: both;
    }
    .l6-clearfix:nth-child(2n+1) {
      clear: both;
    }
  }

  @media #{$extra-large-and-up} {
    .xl2-clearfix:nth-child(6n+1) {
      clear: both;
    }
    .xl3-clearfix:nth-child(4n+1) {
      clear: both;
    }
    .xl4-clearfix:nth-child(3n+1) {
      clear: both;
    }
    .xl6-clearfix:nth-child(2n+1) {
      clear: both;
    }
  }

  @media #{$medium-only} {
    .col.offset-m0 {
      margin-left: 0;
    }
  }

  @media #{$large-and-up} {
    .col.offset-l0 {
      margin-left: 0 !important;
    }
  }
}

@for $i from 0 through 20 {
  .margin-bottom-#{$i * 5} {
    clear: both;
    margin-bottom: $i * 5px !important;
  }

  .margin-top-#{$i * 5} {
    clear: both;
    margin-top: $i * 5px !important;
  }
}

@for $i from 0 through 10 {
  @media (max-width: $small-screen) {
    .sm-margin-top-#{$i * 10} {
      margin-top: $i * 10px !important;
    }

    .sm-margin-bottom-#{$i * 10} {
      margin-bottom: $i * 10px !important;
    }
  }

  @media (max-width: $medium-screen) {
    .md-margin-top-#{$i * 10} {
      margin-top: $i * 10px !important;
    }

    .md-margin-bottom-#{$i * 10} {
      margin-bottom: $i * 10px !important;
    }
  }
}
