// Material icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("#{$icons-font-path}MaterialIcons-Regular.eot"); // For IE6-8
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url("#{$icons-font-path}MaterialIcons-Regular.woff2") format('woff2'),
  url("#{$icons-font-path}MaterialIcons-Regular.woff") format('woff'),
  url("#{$icons-font-path}MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; // Preferred icon size
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  // Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;
  // Support for Safari and Chrome.
  text-rendering: optimizeLegibility;

  // Support for Firefox.
  -moz-osx-font-smoothing: grayscale;

  // Support for IE.
  font-feature-settings: 'liga';

  // This is needed for some mobile phones to display the Google Icon font properly
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';

  &::before {
    content: attr(data-icon);
  }
}

// Roboto font
@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-thin"), url("#{$roboto-font-path}Roboto-Thin.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Thin.woff") format("woff"), url("#{$roboto-font-path}Roboto-Thin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-thinitalic"), url("#{$roboto-font-path}Roboto-ThinItalic.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-ThinItalic.woff") format("woff"), url("#{$roboto-font-path}Roboto-ThinItalic.ttf") format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-light"), url("#{$roboto-font-path}Roboto-Light.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Light.woff") format("woff"), url("#{$roboto-font-path}Roboto-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-lightitalic"), url("#{$roboto-font-path}Roboto-LightItalic.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-LightItalic.woff") format("woff"), url("#{$roboto-font-path}Roboto-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-regular"), url("#{$roboto-font-path}Roboto-Regular.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Regular.woff") format("woff"), url("#{$roboto-font-path}Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-regular"), url("#{$roboto-font-path}Roboto-Regular.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Regular.woff") format("woff"), url("#{$roboto-font-path}Roboto-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-italic"), url("#{$roboto-font-path}Roboto-Italic.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Italic.woff") format("woff"), url("#{$roboto-font-path}Roboto-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-italic"), url("#{$roboto-font-path}Roboto-Italic.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Italic.woff") format("woff"), url("#{$roboto-font-path}Roboto-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-medium"), url("#{$roboto-font-path}Roboto-Medium.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Medium.woff") format("woff"), url("#{$roboto-font-path}Roboto-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-mediumitalic"), url("#{$roboto-font-path}Roboto-MediumItalic.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-MediumItalic.woff") format("woff"), url("#{$roboto-font-path}Roboto-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-bold"), url("#{$roboto-font-path}Roboto-Bold.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Bold.woff") format("woff"), url("#{$roboto-font-path}Roboto-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-bold"), url("#{$roboto-font-path}Roboto-Bold.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Bold.woff") format("woff"), url("#{$roboto-font-path}Roboto-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-bolditalic"), url("#{$roboto-font-path}Roboto-BoldItalic.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-BoldItalic.woff") format("woff"), url("#{$roboto-font-path}Roboto-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-bolditalic"), url("#{$roboto-font-path}Roboto-BoldItalic.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-BoldItalic.woff") format("woff"), url("#{$roboto-font-path}Roboto-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-black"), url("#{$roboto-font-path}Roboto-Black.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-Black.woff") format("woff"), url("#{$roboto-font-path}Roboto-Black.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local('roboto'), local("roboto-blackitalic"), url("#{$roboto-font-path}Roboto-BlackItalic.woff2") format('woff2'), url("#{$roboto-font-path}Roboto-BlackItalic.woff") format("woff"), url("#{$roboto-font-path}Roboto-BlackItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}
