@use 'base/variables' as *;

h1 {
  color: $text-color;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: .08rem;
  text-align: center;
  text-transform: initial;

  @media #{$small-and-down} {
    font-size: 2.2rem;
  }
}

h2 {
  color: $text-color;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: .08rem;
  line-height: 3rem;
  text-transform: initial;

  @media #{$small-and-down} {
    font-size: 1.8rem;
  }
}

h3 {
  color: $text-color;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .05rem;
  text-transform: initial;

  @media #{$small-and-down} {
    font-size: 1.1rem;
  }
}

pre, code {
  font-family: "Source Code Pro", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: .85rem;
  letter-spacing: 0.022rem;
}
