/*********************
  Media Query Classes
**********************/
.hide-on-small {
  @media #{$small-and-down} {
    display: none !important;
  }
}

//.hide-on-med-and-down {
//  @media #{$medium-and-down} {
//    display: none !important;
//  }
//}

//.hide-on-med-and-up {
//  @media #{$medium-and-up} {
//    display: none !important;
//  }
//}

//.hide-on-med-only {
//  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
//    display: none !important;
//  }
//}

//.hide-on-large-only {
//  @media #{$large-and-up} {
//    display: none !important;
//  }
//}

//.hide-on-extra-large-only {
//  @media #{$extra-large-and-up} {
//    display: none !important;
//  }
//}

//.show-on-extra-large {
//  @media #{$extra-large-and-up} {
//    display: block !important;
//  }
//}

//.show-on-large {
//  @media #{$large-and-up} {
//    display: block !important;
//  }
//}

//.show-on-medium {
//  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
//    display: block !important;
//  }
//}

.show-on-small {
  @media #{$small-and-down} {
    display: block !important;
  }
}

//.show-on-medium-and-up {
//  @media #{$medium-and-up} {
//    display: block !important;
//  }
//}

//.show-on-medium-and-down {
//  @media #{$medium-and-down} {
//    display: block !important;
//  }
//}

//.hide-on-med-to-large-only {
//  @media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {
//    display: none !important;
//  }
//}

//.show-on-med-to-large-only {
//  @media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {
//    width: 100% !important;
//  }
//}

//// Center text on mobile
//.center-on-small-only {
//  @media #{$small-and-down} {
//    text-align: center;
//  }
//}

.hide {
  display: none !important;
}

.is-visible {
  opacity: 1;
}

// Inline element
.inline {
  display: inline;
}

// Text Align
.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center,
.center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

//.center-block {
//  display: block;
//  margin-left: auto;
//  margin-right: auto;
//}

//.no-padding {
//  padding: 0 !important;
//}

// For honeypot
.ensure-validity {
  display: none;
}

// Hidden textarea for clipboard
.hidden {
  background: transparent;
  border: 0;
  bottom: 0;
  color: transparent;
  font-size: 1px;
  height: 0;
  //display: none;
  left: 0;
  opacity: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  resize: none;
  top: 0;
  user-select: text;
  width: 0;
  z-index: 100; // Because for user-select:none, Safari won't allow input
}

.hr-around-text {
  align-items: center;
  display: flex;
  //margin: 1em 0;

  &::before,
  &::after {
    border-bottom: 1px solid $border-color;
    content: '';
    flex: 1;
    margin: 0 .8rem;
  }
}
