// Path
// ------------------------------------
$roboto-font-path: '../../../fonts/roboto/';
$icons-font-path: '../../../fonts/';

// Colors
// ------------------------------------
$text-color: rgba(0, 0, 0, .87);
$background-color: #f9f9f9;

$secret-color: #ffab91;
$advice-color: #81d4fa;
$deadend-color: #bcaaa4;

// Shadows
$default-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

// Primary
$primary-color: #334a67;
$primary-color-light: #5b6e85;
$primary-color-dark: #233348;

// Secondary
$secondary-color: #ffb328;

// Link
$link-color: #5b96ec !default;

// Border
$border-color: #e4e4e4;
$border-dark-color: rgba(0, 0, 0, .15);

$success-color: #4caf50 !default;
$warning-color: #ffab40 !default;
$error-color: #f44336 !default;

// Media Query Ranges
$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width: #{$small-screen-up})";
$large-and-up: "only screen and (min-width: #{$medium-screen-up})";
$small-and-down: "only screen and (max-width: #{$small-screen})";
$medium-and-down: "only screen and (max-width: #{$medium-screen})";
$medium-only: "only screen and (min-width: #{$small-screen-up}) and (max-width: #{$medium-screen})";

$large-and-down: "only screen and (max-width: #{$large-screen})";
$extra-large-and-up: "only screen and (min-width: #{$large-screen})";
$large-only: "only screen and (min-width: #{$medium-screen}) and (max-width: #{$large-screen})";

// Grid
$num-cols: 12;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// Mixins
// ------------------------------------
@mixin bordered-item($color) {
  display: inline-block;
  border: 2px $color solid;
  border-radius: 18px;
  margin: 6px;
  padding: 2px 11px 4px;
}

// Special style
// ------------------------------------
@mixin special-style($color) {
  background-color: lighten($color, 10%);
  //box-shadow: 0 0 4px $color;
  padding: .8rem 1rem;
  border-left: 6px solid darken($color, 20%);
  margin: .6rem 0 !important;
  border-radius: 3px;
}
