// Path
// ------------------------------------
$open-sans-font-path: '/assets/fonts/open-sans';
$roboto-font-path: '/assets/fonts/roboto/';
$icons-font-path: '/assets/fonts/';

// Colors
// ------------------------------------
// Base colors
$text-color: #333;
$light-text-color: #999;
$background-color: #f9f9f9;

$transparency-color: .5;
$spectra-color: rgba(39, 58, 75, .97);
$spectra-color-transparent: rgba(55, 89, 98, $transparency-color);
$astral-color: hsl(208, 85%, 34%);
$astral-color-transparent: rgba(60, 140, 161, $transparency-color);

$secret-color: #ffab91;
$advice-color: #81d4fa;
$deadend-color: #bcaaa4;

$border-color: #e4e4e4;
$border-dark-color: rgba(0, 0, 0, .15);

$active-color: #ffd8a6;

$parent-color: #8b5953;
$child-color: #72c02c;

// Article
$article-color: $spectra-color;
$article-color-background: $spectra-color-transparent;

// Tag
$tag-color: $astral-color;
$tag-color-background: $astral-color-transparent;

// Search
$search-border-color: rgba(105, 127, 149, .3);
$search-active-border-color: #66cc75;
$search-title-color: #9bb2c8;
$search-tag-border-color: hsla(0, 0%, 100%, .1);
$search-tag-background-color: hsla(0, 0%, 100%, .2);
$search-highlight-color: #9bb2c8;

// Materialize theme
// ------------------------------------
$off-black: rgba(0, 0, 0, .84);

$primary-color: $spectra-color !default;
$primary-color-transparent: $astral-color-transparent !default;
$primary-color-light: lighten($spectra-color, 15%) !default;
$primary-color-dark: darken($spectra-color, 15%) !default;

$secondary-color: #5f5f5f !default;
$link-color: #5b96ec !default;

$success-color: #4caf50 !default;
$warning-color: #ffab40 !default;
$error-color: #ef5350 !default;

// Cards
$card-link-color: $text-color;

// Buttons
$button-raised-background-hover: $primary-color;

// Form
$input-disabled-color: rgba(0, 0, 0, .46);
$input-border-color: $secondary-color;

// Media Query Ranges
$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width: #{$small-screen-up})";
$large-and-up: "only screen and (min-width: #{$medium-screen-up})";
$small-and-down: "only screen and (max-width: #{$small-screen})";
$medium-and-down: "only screen and (max-width: #{$medium-screen})";
$medium-only: "only screen and (min-width: #{$small-screen-up}) and (max-width: #{$medium-screen})";

$large-and-down: "only screen and (max-width: #{$large-screen})";
$extra-large-and-up: "only screen and (min-width: #{$large-screen})";
$large-only: "only screen and (min-width: #{$medium-screen}) and (max-width: #{$large-screen})";

// Flow title
$range: $large-screen - $small-screen;
$intervals: 20;
$interval-size: $range / $intervals;

// Grid
$num-cols: 12;

// Mixins
// ------------------------------------
@mixin bordered-item($color) {
  display: inline-block;
  border: 2px $color solid;
  border-radius: 18px;
  margin: 6px;
  padding: 2px 11px 4px;
}

// Special style
// ------------------------------------
@mixin special-style($color) {
  background-color: lighten($color, 10%);
  //box-shadow: 0 0 4px $color;
  padding: .8rem 1rem;
  border-left: 6px solid darken($color, 20%);
  margin: .6rem 0 !important;
  border-radius: 3px;
}

// Editor
// ------------------------------------
