// Path
// ------------------------------------
$open-sans-font-path: '/assets/fonts/open-sans';
$roboto-font-path: '/assets/fonts/roboto/';
$icons-font-path: '/assets/fonts/';

// Colors
// ------------------------------------
// Base colors
$transparency-color: .5;

$matisse-color: #1a7c96;
$matisse-color-transparent: rgba(26, 124, 150, $transparency-color);
$citron-color: #9ac31b;
$citron-color-transparent: rgba(154, 195, 27, $transparency-color);

//$text-color-base: rgba(0, 0, 0, .87);
//$color-base: #37474f;
//$color-hover: #2980b9;
//$color-additional: #455a64;
//$color-transparent: rgba(52, 152, 219, .3);
//$color-bg: #fff;

// Article and tag properties
// ------------------------------------
$article-color: $matisse-color;
$article-color-background: $matisse-color-transparent;

$tag-color: $citron-color;
$tag-color-background: $citron-color-transparent;

// Materialize theme
// ------------------------------------

// Colors
$text-color: #5f5f5f;
$background-color: #fffffa;

$off-black: $text-color;

$primary-color: $matisse-color !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: #5f5f5f !default;
$success-color: #4caf50 !default;
$error-color: #ef5350 !default;
$link-color: #03a9f4 !default;

$card-link-color: $text-color;

// Media Query Ranges
$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width: #{$small-screen-up})";
$large-and-up: "only screen and (min-width: #{$medium-screen-up})";
$small-and-down: "only screen and (max-width: #{$small-screen})";
$medium-and-down: "only screen and (max-width: #{$medium-screen})";
$medium-only: "only screen and (min-width: #{$small-screen-up}) and (max-width: #{$medium-screen})";

$large-and-down: "only screen and (max-width: #{$large-screen})";
$extra-large-and-up: "only screen and (min-width: #{$large-screen})";
$large-only: "only screen and (min-width: #{$medium-screen}) and (max-width: #{$large-screen})";

$input-disabled-color: rgba(0, 0, 0, .46);
$input-border-color: $secondary-color;

// Flow title
$range: $large-screen - $small-screen;
$intervals: 20;
$interval-size: $range / $intervals;

// Grid
$num-cols: 12;

// Buttons
$button-raised-background-hover: $primary-color;

// Semantic
// ------------------------------------
$import-google-fonts: false;

// Mixins
// ------------------------------------
@mixin bordered-item($color) {
  display: inline-block;
  border: 2px $color solid;
  border-radius: 18px;
  margin: 6px;
  padding: 2px 11px 4px;
}

// Special style colors
// ------------------------------------
$secret-color: #ffab91;
$advice-color: #81d4fa;
$deadend-color: #bcaaa4;
@mixin special-style($color) {
  background-color: $color;
  box-shadow: 0 0 4px $color;
  padding-left: 10px;
}

// Editor
// ------------------------------------
//$toolbarColor: color('grey', 'darken-4') !default;
//$toolbarTextColor: color('grey', 'lighten-5') !default;
//$borderColor: color('grey', 'base') !default;

$toolbar-color: #37474f !default;
$toolbar-text-color: #fafafa !default;
$border-color: #37474f !default;

$first-button-color: #263238 !default;
$first-button-hover-color: #3f51b5 !default;
$second-button-color: #b71c1c !default;
$second-button-hover-color: #3f51b5 !default;
$third-button-color: #4a148c !default;
$third-button-hover-color: #3f51b5 !default;

$first-focus-color: #9c27b0 !default;
$second-focus-color: #ff1744 !default;

$selection-color: #757575 !default;

$help-background-color: #e0e0e0 !default;

$border-color: #a9a9a9;
$background-color: #f5f5f5;

$dropzone-color: #87cefa;
$dropzone-active-color: darken($dropzone-color, 30);

$note-shortcut-hl: #dd0;
