- stylesheet 'admins/seo'

- javascript "translations/admin-#{I18n.locale}"
- javascript_defer 'commons', 'admins-commons', 'admins/seo'

#admins-seo-component.react-root data-seo-pages="#{seo_pages}"
