.article-enter {
  opacity: .01;
  transform: translate(-500px, 0);
  transform: translate3d(-500px, 0, 0);

  &.article-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(.175, .665, .320, 1), linear;
    //transition: opacity 500ms ease-in;
  }
}

.article-leave {
  opacity: 1;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(.175, .665, .320, 1), linear;

  &.article-leave-active {
    opacity: .01;
    transform: translate(500px, 0);
    transform: translate3d(500px, 0, 0);
    //transition: opacity 300ms ease-in;
  }
}

.article-appear {
  opacity: .01;

  &.article-appear-active {
    opacity: 1;
    transition: opacity .15s ease-in;
  }
}
