.dialog-enter {
  opacity: .01;

  &.dialog-enter-active {
    transition: opacity 500ms ease-in;
  }
}

.dialog-leave {
  opacity: 1;

  &.dialog-leave-active {
    opacity: .01;
    transition: opacity 300ms ease-in;
  }
}

.dialog-appear {
  opacity: .01;
  transform: scaleY(0);

  &.dialog-appear-active {
    opacity: 1;
    transform: scaleY(1);
    transition-duration: 900ms;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(.175, .665, .320, 1), linear;
  }
}

.dialog-form-appear {
  transform: scaleY(0);

  &.dialog-form-appear-active {
    transform: scaleY(1);
    transition: transform 600ms ease;
  }
}
