.user-enter {
  opacity: .01;

  &.user-enter-active {
    transition: opacity 500ms ease-in;
  }
}

.user-leave {
  opacity: 1;

  &.user-leave-active {
    opacity: .01;
    transition: opacity 300ms ease-in;
  }
}

.user-appear {
  opacity: .01;
  transform: scaleY(0);

  &.user-appear-active {
    opacity: 1;
    transform: scaleY(1);
    transition-duration: 600ms;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(.175, .665, .320, 1), linear;
  }
}

.user-form-appear {
  transform: scaleY(0);

  &.user-form-appear-active {
    transform: scaleY(1);
    transition: transform 600ms ease;
  }
}
