= "User-Agent: *\n"
= "Disallow: /\n"

= "Disallow: /users/password/new\n"
= "Disallow: /fr/utilisateurs/password/nouveau\n"
= "Disallow: /de/benutzer/password/neu\n"
= "Disallow: /es/usuarios/password/nuevo\n"
= "Disallow: /it/utenti/password/nuovo\n"

= "Disallow: /users/password/new\n"
= "Disallow: /fr/utilisateurs/password/nouveau\n"
= "Disallow: /de/benutzer/password/neu\n"
= "Disallow: /es/usuarios/password/nuevo\n"
= "Disallow: /it/utenti/password/nuovo\n"

= "Disallow: /about-us\n"
= "Disallow: /fr/a-propos\n"
= "Disallow: /de/rechtlicher-hinweis\n"
= "Disallow: /es/sobre\n"
= "Disallow: /it/a-proposito-di\n"

= "Disallow: /terms\n"
= "Disallow: /fr/conditions-utilisations\n"
= "Disallow: /de/nutzungsbedingungen\n"
= "Disallow: /es/condiciones-de-uso\n"
= "Disallow: /it/condizioni-di-utilizzo\n"

= "Disallow: /privacy-policy\n"
= "Disallow: /fr/politique-des-donnees\n"
= "Disallow: /de/daten-politik\n"
= "Disallow: /es/politica-de-datos\n"
= "Disallow: /it/politica-dei-dati\n"

= "Disallow: /admins/*\n"

= "Sitemap: #{root_url}sitemap.xml.gz\n"
