# Your secret token, generate it with the command : rake secret
SECRET_TOKEN: ''

# Same as previous for devise
DEVISE_SECRET_KEY: ''

# Database account and password for development environment
DATABASE_DEV_USERNAME: ''
DATABASE_DEV_PASSWORD: ''

# Database account and password for test environment
DATABASE_TEST_USERNAME: ''
DATABASE_TEST_PASSWORD: ''

# Database account and password for production environment
DATABASE_PROD_USERNAME: ''
DATABASE_PROD_PASSWORD: ''

# Website domain name, use when sending emails
DOMAIN: 'inrailsweblog.com'

# Email server configuration
SMTP_HOST: ''
SMTP_PORT: 465
EMAIL_USER: ''
EMAIL_PASSWORD: ''

# Redis configuration, default configuration
REDIS_HOST: 'localhost'
REDIS_PORT: '6379'

# If you want website analytics, configure website name, site number and file to called
METRICS_ADDRESS: ''
METRICS_SITE_NUMBER: ''
METRICS_FILENAME: ''

# If you use NewRelic to watch website performance
NEWRELIC_KEY: ''
