- provide(:admin_title, t('views.admin.user_manager.show.page_title', user: user_id))

- stylesheet 'admin/admin'

- javascript 'commons'
- javascript 'admin/users/show'

#user-admin-component data-user-id="#{user_id}"
