@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("#{$icons-font-path}materialdesignicons-webfont.eot"); /* For IE6-8 */
  //src: local('Material Icons'),
  //local('MaterialIcons-Regular'),
  //url('/assets/material-design-icons/Material-Design-Icons.woff2') format('woff2'),
  //url('/assets/material-design-icons/Material-Design-Icons.woff') format('woff'),
  //url('/assets/material-design-icons/Material-Design-Icons.ttf') format('truetype');
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("#{$icons-font-path}materialdesignicons-webfont.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Thin.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Thin.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Thin.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-ThinItalic.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-ThinItalic.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-ThinItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Light.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Light.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Light.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-LightItalic.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-LightItalic.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-LightItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Regular.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Regular.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Italic.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Italic.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Italic.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Italic.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Medium.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Medium.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Medium.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-MediumItalic.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-MediumItalic.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-MediumItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Bold.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Bold.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-BoldItalic.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-BoldItalic.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-BoldItalic.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-BoldItalic.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-Black.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-Black.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-Black.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("#{$roboto-font-path}Roboto-BlackItalic.woff2?v=1.1.0") format("woff2"), url("#{$roboto-font-path}Roboto-BlackItalic.woff?v=1.1.0") format("woff"), url("#{$roboto-font-path}Roboto-BlackItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: italic;
}
