// Animate when visible
.is-hidden {
  opacity: 0;
}

.is-visible {
  opacity: 1;
}

// Inline element
.inline {
  display: inline;
}

// Go to top
.goto-top {
  position: fixed;
  right: 100px;
  text-decoration: underline;
  bottom: 40px;
  display: block;
  cursor: pointer;
  background: $color-base url('/assets/up_arrow.png') no-repeat scroll 6px 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.27);
}

// Spaces
.margin-bottom-5,
.margin-bottom-10,
.margin-bottom-15,
.margin-bottom-20,
.margin-bottom-25,
.margin-bottom-30,
.margin-bottom-35,
.margin-bottom-40,
.margin-bottom-45,
.margin-bottom-50,
.margin-bottom-55,
.margin-bottom-60,
.margin-bottom-80,
.margin-bottom-100 {
  clear: both;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-45 {
  margin-bottom: 45px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-55 {
  margin-bottom: 55px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

@media (max-width: $max-width-sm) {
  .sm-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .sm-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .sm-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .sm-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .sm-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .sm-margin-bottom-60 {
    margin-bottom: 60px;
  }
  .sm-margin-bottom-80 {
    margin-bottom: 80px;
  }
}

@media (max-width: $max-width-md) {
  .md-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .md-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .md-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .md-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .md-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .md-margin-bottom-60 {
    margin-bottom: 60px;
  }
  .md-margin-bottom-80 {
    margin-bottom: 80px;
  }
}

.margin-top-5 {
  margin-top: 20px;
}

.margin-top-10 {
  margin-top: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 20px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-30 {
  margin-right: 30px;
}

/*
YUI 3.18.1 (build f7e7bcb)
*/

.css-reset div,
.css-reset dl,
.css-reset dt,
.css-reset dd,
.css-reset ul,
.css-reset ol,
.css-reset li,
.css-reset h1,
.css-reset h2,
.css-reset h3,
.css-reset h4,
.css-reset h5,
.css-reset h6,
.css-reset pre,
.css-reset code,
.css-reset form,
.css-reset fieldset,
.css-reset legend,
.css-reset input,
.css-reset textarea,
.css-reset p,
.css-reset blockquote,
.css-reset th,
.css-reset td {
  margin: 0;
  padding: 0;
}

.css-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}

.css-reset fieldset,
.css-reset img {
  border: 0;
}

.css-reset address,
.css-reset caption,
.css-reset cite,
.css-reset code,
.css-reset dfn,
.css-reset em,
.css-reset strong,
.css-reset th,
.css-reset var {
  font-style: normal;
  font-weight: normal;
}

.css-reset ol,
.css-reset ul {
  list-style: none;
}

.css-reset caption,
.css-reset th {
  text-align: left;
}

.css-reset h1,
.css-reset h2,
.css-reset h3,
.css-reset h4,
.css-reset h5,
.css-reset h6 {
  font-size: 100%;
  font-weight: normal;
}

.css-reset q:before,
.css-reset q:after {
  content: '';
}

.css-reset abbr,
.css-reset acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
.css-reset sup {
  vertical-align: text-top;
}

.css-reset sub {
  vertical-align: text-bottom;
}

.css-reset input,
.css-reset textarea,
.css-reset select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
.css-reset input,
.css-reset textarea,
.css-reset select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
.css-reset legend {
  color: #000;
}
