@import 'materialize-css/sass/components/prefixer';
@import 'materialize-css/sass/components/mixins';
@import 'materialize-css/sass/components/color';

// Path
// ------------------------------------
$roboto-font-path: '/assets/roboto/';
$icons-font-path: '/assets/';
$fa-font-path: '/assets';

// Colors
// ------------------------------------
$text-color-base: rgba(0, 0, 0, 0.87);
$color-base: color('blue-grey', 'darken-3');
$color-hover: #2980b9;
$color-additional: color('blue-grey', 'darken-2');
$color-transparent: rgba(52, 152, 219, .3);
$color-bg: #fff;

$rgba-a: .8;
$rgba-a-transparent: .3;
$rgba-default: rgba(114, 192, 44, $rgba-a); // #72C02C
$rgba-default-transparent: rgba(114, 192, 44, $rgba-a-transparent); // #72C02C
$rgba-red: rgba(231, 76, 60, $rgba-a); // #E74C3C
$rgba-red-transparent: rgba(231, 76, 60, $rgba-a-transparent); // #E74C3C
$rgba-blue: rgba(52, 152, 219, $rgba-a); // #3498DB
$rgba-blue-transparent: rgba(52, 152, 219, $rgba-a-transparent); // #3498DB
$rgba-aqua: rgba(39, 215, 231, $rgba-a); // #27D7E7
$rgba-aqua-transparent: rgba(39, 215, 231, $rgba-a-transparent); // #27D7E7
$rgba-yellow: rgba(241, 196, 15, $rgba-a); // #F1C40F
$rgba-yellow-transparent: rgba(241, 196, 15, $rgba-a-transparent); // #F1C40F
$rgba-purple: rgba(155, 107, 204, $rgba-a); // #9B6BCC
$rgba-purple-transparent: rgba(155, 107, 204, $rgba-a-transparent); // #9B6BCC

// Special style colors
// ------------------------------------
$secret-color: color('red', 'lighten-3');
$advice-color: color('light-blue', 'lighten-3');
$deadend-color: color('brown', 'lighten-3');
@mixin special-style($color) {
  background-color: $color;
  box-shadow: 0px 0px 4px $color;
  padding-left: 10px;
}


// Materialize theme
// ------------------------------------
$primary-color: $color-base;
$card-link-color: $color-additional;
$dropdown-color: $color-base;
@import 'materialize-css/sass/components/variables';
$extra-large-and-up: "only screen and (min-width : #{$large-screen})";
$large-only: "only screen and (min-width : #{$medium-screen}) and (max-width : #{$large-screen})";
