@import 'base/variables';

.tag-form-categoryTitle {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: .6rem;
}

.tag-form-name {
  width: 100%;
  margin: 1rem 0;
  // borderBottom: '1px solid #000'
}

.tag-form-nameLabel {
  left: 37%;
}

.tag-form-nameUnderline {
  &::before {
    left: 25%;
    width: 50%;
  }
}

.tag-form-nameAdvice {
  margin-top: -8px;
  margin-left: 8px;
  font-size: 0.9rem;
  font-style: italic;
}

.tag-form-select {
  width: 90%;
}
