@use 'base/variables' as *;

.tag-sort {
  margin-top: 25px;
}

.tag-sorting {
  user-select: none;
}

.tag-sort-item {
  background-color: rgba(143, 143, 143, .35);
  border: 0;
  border-radius: 5px;
  margin: 5px 10px;
  padding: 3px 12px;

  .tag-count {
    font-weight: 600;
    line-height: 26px;
    margin-left: 10px;
  }
}
