.dropdown-container {
  position: relative;

  .dropdown-button {

  }

  .dropdown-slider {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    display: block;
    margin: 0;
    max-height: 0;
    min-width: 100px;
    opacity: 0;
    overflow-y: hidden;
    position: absolute;
    transition: max-height 600ms ease-in;
    will-change: width, height;
    z-index: 999;

    &.dropdown-slider-open {
      max-height: 650px;
      opacity: 1;
    }

    li {
      clear: both;
      color: rgba(0, 0, 0, .87);
      cursor: pointer;
      line-height: 1.5rem;
      list-style-type: none;
      min-height: 50px;
      text-align: left;
      text-transform: none;
      width: 100%;

      &:hover {
        background-color: #eee;
      }

      &.divider {
        background-color: #e0e0e0;
        height: 1px;
        min-height: 0;
        overflow: hidden;
      }

      & > a,
      & > span {
        color: #26a69a;
        display: block;
        font-size: 16px;
        line-height: 22px;
        padding: 14px 16px;
      }
    }
  }
}
