.progress {
  margin: auto;
  height: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

  .determinate {
    background-color: #7dd8d2;
    transition: width 0.6s ease;
  }
}

.form-wizard.form-wizard-horizontal {
  position: relative;
}

.form-wizard.form-wizard-horizontal .form-wizard-nav .progress {
  position: absolute;
  display: inline-block;
  top: 23px;
  left: 0;
  right: 0;
  margin: auto;
  height: 10px;
}

@media (max-width: 768px) {
  .form-wizard.form-wizard-horizontal .form-wizard-nav .progress {
    display: none;
  }
}

.form-wizard.form-wizard-horizontal .nav {
  position: relative;
}

.form-wizard.form-wizard-horizontal .nav a {
  margin-bottom: 15px;
}

.form-wizard.form-wizard-horizontal .nav li.active a,
.form-wizard.form-wizard-horizontal .nav li:hover a {
  color: inherit;
  background-color: transparent;
}

.form-wizard.form-wizard-horizontal .nav li.active .step,
.form-wizard.form-wizard-horizontal .nav li:hover .step {
  -webkit-transition: border-color 0.4s linear;
  -o-transition: border-color 0.4s linear;
  transition: border-color 0.4s linear;
  border-color: #0aa89e;
}

.form-wizard.form-wizard-horizontal .nav li.active .title,
.form-wizard.form-wizard-horizontal .nav li:hover .title {
  color: #313534;
}

.form-wizard.form-wizard-horizontal .nav li.done .step {
  color: #ffffff;
  border-color: #0aa89e;
  background-color: #0aa89e;
  font-weight: 500;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.form-wizard.form-wizard-horizontal .nav .step {
  display: inline-block;
  line-height: 28px;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  border: 4px solid #e5e6e6;
  background: #ffffff;
}

.form-wizard.form-wizard-horizontal .nav .title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -15px;
  color: #969c9c;
}

.form-wizard .pager {
  list-style: none;
  margin: 24px 0;
  text-align: center;
  border-top: 1px solid rgba(160, 160, 160, .2);
  padding: 10px;
}

.form-wizard .pager li {
  display: inline;
}

.form-wizard .pager .previous > a,
.form-wizard .pager .previous > span {
  float: left;
}

.form-wizard .pager .next > a,
.form-wizard .pager .next > span {
  float: right;
}

.form-wizard .pager::before {
  content: ' ';
  display: table;
}

.form-wizard .pager::after {
  clear: both;
}

.nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav > li {
  display: block;
  position: relative;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e6e6;
}

.nav > li.disabled > a {
  color: #969c9c;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #969c9c;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #e5e6e6;
  border-color: #0aa89e;
}

.nav .nav-divider {
  height: 1px;
  margin: 11px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.846153846;
  border: 1px solid transparent;
  border-radius: 2px 2px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #e5e6e6 #e5e6e6 #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #535858;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 769px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 2px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 769px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 2px 2px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 2px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #0aa89e;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 769px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 2px;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 769px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 2px 2px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.tab-content > .tab-pane {
  display: none;
  visibility: hidden;
}

.tab-content > .active {
  display: block;
  visibility: visible;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 24px;
  border: 1px solid transparent;
}

@media (min-width: 769px) {
  .navbar {
    border-radius: 2px;
  }
}

@media (min-width: 769px) {
  .navbar-header {
    float: left;
  }
}
