.notification {
  @media #{$small-and-down} {
    .notification-bar {
      border-radius: 0 !important;
      bottom: 0 !important;

      &.notification-bar-active {
        left: 0 !important;
        width: 100% !important;
      }
    }
  }

  .notification-alert {
    background-color: inherit;
  }

  .notification-success {
    background-color: $success-color !important;
  }

  .notification-error {
    background-color: $error-color !important;
  }
}

// Notifications
.notification-container {
  z-index: 1005;
}

// New messages
.notification-messages {
  background-color: $primary-color;
  border-radius: 50%;
  color: #fff;
  display: inline;
  font-size: .9rem;
  font-weight: 700;
  height: 1.8rem;
  line-height: 1.8rem;
  position: absolute;
  right: 5%;
  text-align: center;
  top: 10%;
  vertical-align: middle;
  white-space: nowrap;
  width: 1.8rem;
}

.notification-messages-dropdown {
  background-color: $primary-color;
  border-radius: 50%;
  color: #fff;
  display: inline;
  font-size: .8rem;
  font-weight: 700;
  height: 1.8rem;
  line-height: 1.8rem;
  margin-left: 12px;
  padding: 4px 6px 4px 8px;
  text-align: right;
  top: 10%;
  vertical-align: middle;
  white-space: nowrap;
  width: 1.8rem;

  @media #{$medium-and-down} {
    font-size: .8rem;
    padding: 3px 5px;
  }
}
