@use 'base/variables' as *;

.article-index {
  margin: 1rem auto 4rem;
  overflow: visible;
  position: relative;
  max-width: $article-appendix-width;
}

.article-index-large-container {
  max-width: $grid-width;
}

.article-index-full-container {
  width: 100%;
}

.article-index-title {
  margin-top: 30px;

  &.article-index-title-connected h1 {
    font-size: 1.5rem;
  }
}

.article-list-tag-title {
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  margin-top: 2rem;
}

.article-infinite-text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  text-align: center;
}
