@use 'base/variables' as *;

$light-gray: #dadada;
$white: #fff;
$dark-gray: #333;
$shadow: rgba(0, 0, 0, .2);
$primary: #4c66be;

.categorized-tag {
  .cti-root {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    //width: 330px;
    //width: 100%;
  }

  .cti-input {
    background-color: inherit;
    //border: 1px solid $secondary-color;
    min-height: 38px;
    padding: .1em 24px .1em .1em;
    //background: white;
    position: relative;

    &::before {
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      bottom: 0;
      content: '\00a0';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &::after {
      border-bottom: 2px solid #7b1fa2;
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      transform: scaleX(0);
      transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
  }

  .cti-input-input {
    border: 0 !important;
    font-size: .9rem !important;
    height: auto;
    margin: .1em 0 .1em .4em !important;
    max-width: 100%;
    padding: .4em 0 !important;
    width: 100%;

    &:focus,
    &:focus-visible,
    &:focus-within {
      border: 0 !important;
      outline: none !important;
    }
  }

  .cti-input-arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $secondary-color;
    display: block;
    height: 0;
    margin-top: -2px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
  }

  .cti-input-tags,
  .cti-input-input {
    display: inline-block;
    vertical-align: middle;
  }

  .cti-tag {
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 16px;
    color: rgb(146, 146, 146);
    cursor: pointer;
    display: inline-block;
    margin: .2em 0 .5em .4em;
    max-width: 100%;
    padding: .3em .7em;
    word-break: break-all;

    &:hover {
      border-color: $primary-color-light;
    }
  }

  .cti-tag-overhead {
    background-color: #fff;
    color: $light-gray;
    display: inline-block;
    margin: .1em 0 .1em .4em;
    max-width: 100%;
    padding: .3em .7em;
  }

  .cti-tag-content-match {
    color: $text-color;
    font-weight: bold;
  }

  .cti-tag-delete,
  .cti-tag-content,
  .cti-tag-content > span {
    display: inline-block;
    vertical-align: middle;
  }

  .cti-tag-delete {
    background-color: transparent;
    border: 0;
    color: $text-color;
    display: inline-block;
    margin: -5px 0;
    outline: 0;
    overflow: hidden;
    padding: 0 0 0 .3em;
    text-indent: -9999px;
    width: 20px;

    &::before {
      content: '\2718';
      float: left;
      font-size: 18px;
      line-height: 20px;
      margin: 0;
      padding: 0 2px;
      text-indent: 0;
    }
  }

  .cti-tag-content > span {
    margin-top: -3px;
  }

  .cti-panel {
    background: #fff;
    border: 1px solid $light-gray;
    box-shadow: $default-shadow;
    box-sizing: border-box;
    left: 0;
    margin-top: 16px;
    max-width: 28em;
    padding: .6rem;
    position: absolute;
    width: 100%;
    z-index: 10;
    //position: absolute;
    //background: white;
    //border: 1px solid rgb(220, 220, 220);
    //border-top: none;
    //width: 100%;
    //z-index: 9997;
    //font-size: 1rem;
    //line-height: 1.2rem;

    &::before,
    &::after {
      background: $white;
      border: 1px solid $light-gray;
      content: '';
      display: block;
      height: 15px;
      position: absolute;
      transform: rotate(45deg);
      width: 15px;
    }

    &.cti-panel-arrow-top::before,
    &.cti-panel-arrow-top::after {
      border-bottom: 0;
      border-right: 0;
      bottom: 100%;
      left: 20px;
      margin-bottom: -7px;
    }
  }

  .cti-category-add-item {
    background: transparent;
    border: 0;
    color: $text-color;
    font-size: 1em;
  }

  .cti-category-add-item.cti-selected {
    margin-left: .4em;
  }

  .cti-category-or {
    margin-left: .4em;
  }

  .cti-selected {
    background-color: rgb(229, 241, 255);
    //border: 1px solid rgb(207, 219, 234);
    //border-radius: 3px;
  }

  .cti-category {
    padding: .4em;
  }

  .cti-category-title {
    color: $primary-color-dark;
    font-size: 1rem;
    //color: #000;
    font-weight: normal;
    line-height: 1rem;
    margin: .2rem 0 .4rem;
    padding: .3em 0;
  }

  .cti-tag-animation {
    animation: tag-animation-in-keyframes 1s;
  }

  @keyframes tag-animation-in-keyframes {
    from {
      box-shadow: 0 0 3px 0 #000;
      //text-shadow: 3px 3px 5px #ba8b00;
      opacity: .3;
    }

    to {
      box-shadow: none;
      opacity: 1;
      //text-shadow: none;
    }
  }
}
