@import 'base/variables';

.collapsible-item {
  border: 1px solid #ddd;
  box-shadow: none;
  margin: .5rem 0 1rem;
  overflow: inherit;

  .collapsible-title {
    border-bottom: 1px solid $border-color;
    padding: 1rem;
    text-align: center;

    a {
      color: $text-color;
      outline: none;
      padding-left: 1rem;
      padding-right: 4rem;
    }
  }

  .collapsible-button {
    background: none;
    border: 0;
    height: 1.8rem;
    margin: 0;
    outline: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    text-indent: -9999%;
    width: 3rem;

    &::before {
      background: #000;
      border-radius: .3em;
      content: '';
      display: block;
      height: 12px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(75%, -50%) rotate(45deg);
      transform-origin: 50%;
      transition: all .25s ease-in-out;
      width: 4px;
    }

    &::after {
      background: #000;
      border-radius: .3em;
      content: '';
      display: block;
      height: 12px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-75%, -50%) rotate(-45deg);
      transform-origin: 50%;
      transition: all .25s ease-in-out;
      width: 4px;
    }
  }

  &.collapsible-open {
    .collapsible-button {
      &:before,
      &:after {
        height: 14px;
      }

      &:before {
        transform: translate(0%, -50%) rotate(-45deg);
      }

      &:after {
        transform: translate(0%, -50%) rotate(45deg);
      }
    }
  }

  .collapsible-content {
    padding: 1rem;
  }
}

