@import 'base/variables';
@import 'shared/rating';
@import 'shared/animation/comment';

.comments {
  margin-top: 2rem;

  //.comments-title {
  //  font-size: 2rem;
  //  font-weight: 300;
  //  margin-bottom: 2rem;
  //}

  .comments-box {
    //border: 1px solid #e0e1e5;
    padding: 1rem;
  }

  .separation {
    width: 80%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    padding: 0;
    margin: auto;
  }

  .title {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  .content {
    padding: 12px;
  }

  .headline {
    font-size: 1rem;
  }

  .actions {
    display: flex;
  }

  .left-icon {
    margin-right: 4px;
  }

  .collection {
    border: 0;

    .collection-item {
      margin-bottom: 0;
      padding-left: 20px;
      padding-right: 50px;

      &.avatar {
        .title {
          line-height: 2.2rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .summary {
          font-size: .9rem;
          font-style: italic;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .material-icons.circle {
          background-color: #999;
          color: #fff;
          font-size: 18px;
          line-height: 42px;
          text-align: center;
        }
      }

      .secondary-content {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    @for $i from 1 through 5 {
      .comment-child-item-#{$i} {
        margin-top: -5px;

        @media #{$medium-and-up} {
          margin-left: $i * 40px;
        }

        @media #{$medium-and-down} {
          margin-left: $i * 10px;
        }
      }
    }

    .comment-user {
      font-weight: 500;
    }

    .comment-date {
      color: #6d7a97;
      font-size: .9rem;
    }

    .comment-rating {
      .star-rating-input {
        margin: .8rem 0 .2rem .8rem;
      }

      .star-rating-star-size {
        font-size: 1.4rem;
        line-height: 1.4rem;
      }
    }

    .comment-title {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.6rem;
      margin-left: 1rem;
      margin-top: 1rem;
    }

    .comment-body {
      margin-left: 1rem;
      margin-top: .5rem;
      white-space: pre;

      p {
        margin: .5rem 0;
      }
    }
  }

  .comment-item {
    position: relative;
  }

  .comment-item-header {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;

    .header-avatar {
      flex: 1 1 auto;
      margin-right: 16px;
    }

    .header-avatar-user {
      color: $text-color-secondary;
    }

    .header-action {
      flex: 0 0 auto;
      align-self: flex-start;
      margin-top: -8px;
      margin-right: -20px;
    }
  }

  .comment-reply-owner {
    display: inline-block;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
  }

  .comment-ask-for-deletion {
    color: rgb(210, 117, 117);
    display: inline-block;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
  }

  .comment-form {
    margin-bottom: 0;

    .comment-form-title {
      font-size: 24px;
      font-weight: 300;
      line-height: 48px;
      margin-bottom: 12px;
    }

    .comment-form-error {
      color: $error-color;
    }

    #comment-title {
      margin-bottom: 5px;
    }

    #comment-body {
      margin-bottom: 5px;
    }
  }

  .comment-form-explanation {
    color: #6d7a97;
    margin-left: 15px;
    font-size: .8rem;

    @media #{$small-and-down} {
      display: block;
      margin-left: 0;
    }
  }

  @media #{$small-and-down} {
    .comment-reply {
      margin-left: -50px;
      margin-right: -25px;
    }

    .comment-modify {
      margin-left: -50px;
      margin-right: -25px;
    }
  }
}
