@import 'base/variables';
@import 'shared/rating';
@import 'shared/animation/comment';

.comments {
  margin-top: 3rem;

  .comments-title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  .comments-box {
    border: 1px solid #e0e1e5;
    padding: 1rem;
  }

  .collection {
    border: 0;

    .collection-item {
      margin-bottom: 10px;
      padding-left: 20px;
      padding-right: 50px;

      .secondary-content {
        right: 0;
        top: 0;
      }
    }

    @for $i from 1 through 5 {
      .comment-child-item-#{$i} {
        margin-top: -5px;

        @media #{$medium-and-up} {
          margin-left: $i * 40px;
        }

        @media #{$medium-and-down} {
          margin-left: $i * 10px;
        }
      }
    }

    .comment-user {
      font-weight: 500;
    }

    .comment-date {
      color: #6d7a97;
      display: inline-block;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      margin-left: 20px;
      overflow: hidden;
    }

    .comment-rating {
      //display: inline;

      .star-rating-input {
        margin: .8rem 0 .2rem .8rem;
      }

      .star-rating-star-size {
        font-size: 1.4rem;
        line-height: 1.4rem;
      }
    }

    .comment-title {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.6rem;
      margin-left: 1rem;
      margin-top: .5rem;
    }

    .comment-body {
      margin-left: 1rem;
      margin-top: .5rem;
    }
  }

  .comment-form {
    margin-top: 20px;

    .comment-form-title {
      font-size: 24px;
      font-weight: 300;
      line-height: 48px;
    }

    .comment-form-error {
      color: $error-color;
    }

    #comment-title {
      margin-bottom: 5px;
    }

    #comment-body {
      margin-bottom: 5px;
    }
  }

  .comment-form-explanation {
    color: #6d7a97;
    margin-left: 15px;

    @media #{$small-and-down} {
      display: block;
      margin-left: 0;
    }
  }

  @media #{$small-and-down} {
    .comment-reply {
      margin-left: -50px;
      margin-right: -25px;
    }

    .comment-modify {
      margin-left: -50px;
      margin-right: -25px;
    }
  }
}
