.double-timeline {
  margin-bottom: 1.3rem;
  position: relative;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  &::before {
    background: #e0e0e0;
    content: '';
    height: 100%;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 0;
    width: 4px;
  }

  @media only screen and(max-width: 992px) {
    .timeline-block {
      margin: 2em 0;
      padding-left: 80px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .timeline-content {
        float: none;

        &::before {
          border-color: transparent;
          border-right-color: #fff;
          left: auto;
          right: 100%;
        }

        .timeline-date {
          left: 0;
          text-align: left;
        }
      }
    }

    .timeline-icon {
      left: 0;
      margin-left: 0;
    }

    .timeline-content {
      width: 100%;

      .timeline-date {
        left: 0;
        position: relative;
      }
    }

    .timeline::before {
      left: 28px;
      margin-left: 0;
    }
  }

  .timeline-block {
    clear: both;
    margin: 4em 0;
    position: relative;

    &::after {
      clear: both;
      content: '';
      display: table;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(even) .timeline-content {
      float: right;

      &::before {
        border-color: transparent;
        border-right-color: #fff;
        left: auto;
        right: 100%;
      }

      .timeline-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }
  }

  .timeline-icon {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26);
    font-size: 2.5rem;
    height: 60px;
    left: 50%;
    line-height: 60px;
    margin-left: -30px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;

    > .material-icons {
      vertical-align: baseline;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .timeline-content {
    margin: 0;
    position: relative;
    width: 45%;

    &::before {
      border-color: transparent;
      border-left-color: #fff;
      left: 100%;
      top: 24px;
    }

    .timeline-title {
      font-size: 1.5rem;
      line-height: 1.65rem;
      margin: .6rem 0;
    }

    .timeline-link {
      color: #757575;
      margin: .6rem 0;

      a {
        color: inherit;

        &:hover {
          color: #212121;
        }
      }
    }

    .timeline-date {
      display: inline-block;
      float: left;
      left: 122%;
      opacity: .7;
      padding: .8em 0;
      position: absolute;
      top: 10px;
      width: 100%;
    }

    &.card-panel::before {
      border: 10px solid transparent;
      border-left: 10px solid #fff;
      content: '';
      height: 0;
      position: absolute;
      right: 100%;
      top: 20px;
      width: 0;
    }

    &.card::before {
      border: 10px solid transparent;
      border-left: 10px solid #fff;
      content: '';
      height: 0;
      position: absolute;
      right: 100%;
      top: 20px;
      width: 0;
    }
  }
}
