@import 'base/variables';

.masonry {
  .masonry-buttons {
    text-align: left;

    @media #{$medium-and-down} {
      display: none;
    }
  }

  .masonry-button {
    color: $text-color;
    margin-left: .5rem;
    margin-right: 1rem;
    outline: none;

    .material-icons {
      font-size: .9rem;
    }
  }
}

.masonry-grid {
  @media #{$medium-and-down} {
    margin: 0 .8rem;
  }

  .masonry-grid-item {
    padding: 5px !important;

    &.exposed {
      width: 100% !important;
    }
  }
}
