@use '~react-responsive-modal/styles';

@use 'base/variables' as *;

.react-responsive-modal-root {
  z-index: 1300; // Defined in theme.jsx
}

.react-responsive-modal {
  max-width: 95%;

  @media #{$medium-and-down} {
    width: 90%;
  }

  @media #{$medium-only} {
    width: 80%;
  }

  @media #{$large-and-up} {
    width: 900px;
  }

  &.react-responsive-modal-modal {
    @media #{$medium-and-down} {
      margin: .8rem;
    }
  }

  .responsive-modal-title {
    background: #fff;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    border-top-left-radius: .28571429rem;
    border-top-right-radius: .28571429rem;
    margin: 0;
    padding: .25rem 1rem 1rem;

    @media #{$medium-and-up} {
      padding: 1rem 1.25rem;
    }

    h1 {
      color: $text-color;
      font-size: 1.42857143rem;
      font-weight: 700;
      line-height: 1.28571429em;
      margin: 0;
      text-align: left;
    }
  }

  .responsive-modal-subtitle {
    font-size: 1.7rem;
    font-weight: 700;

    @media #{$medium-and-down} {
      font-size: 1.5rem;
    }
  }

  .responsive-modal-content {
    padding: 0;

    @media #{$large-and-up} {
      padding: .75rem;
    }
  }
}

