@import 'base/variables';

.pagination {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2.8rem;

  .pagination-page,
  .previous,
  .next {
    list-style-type: none;
    display: inline-block;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;
    height: 30px;

    &.active {
      background-color: $primary-color-light;

      a {
        color: #fff;
      }
    }

    &.disabled {
      a {
        color: #bbb;
      }
    }

    &:hover {
      background-color: lighten($primary-color-light, 40%);
    }

    a {
      display: inline-block;
      color: $text-color;
      font-size: 1.2rem;
      line-height: 30px;
      padding: 0 10px;
      cursor: pointer;
      vertical-align: inherit;
    }
  }

  .pagination-icon {
    font-size: 1.8rem;
  }
}
