.separator {
  clear: both;
  color: #e0e0e0;
  font-size: 0;
  height: 20px;
  line-height: 18px;
  margin: 20px;
  overflow: hidden;
  padding: 2px 0;
  text-align: center;

  &-h {
    border-color: inherit;
    color: inherit;
    display: inline-block;
    line-height: inherit;
    position: relative;
    vertical-align: top;

    &::before {
      border-color: inherit;
      border-top-style: solid;
      border-top-width: 1px;
      content: '';
      display: inline-block;
      height: 0;
      margin-right: 15px;
      position: absolute;
      right: 100%;
      top: 8px;
      vertical-align: top;
      width: 2000px;
    }

    &::after {
      border-color: inherit;
      border-top-style: solid;
      border-top-width: 1px;
      content: '';
      display: inline-block;
      height: 0;
      left: 100%;
      margin-left: 15px;
      position: absolute;
      top: 8px;
      vertical-align: top;
      width: 2000px;
    }

    .separator-text,
    .material-icons {
      color: #aaa;
      font-size: 16px;
      height: 16px;
      line-height: 16px;
      vertical-align: top;
      width: 20px;
    }
  }
}
