@import 'base/variables';

.single-timeline {
  box-sizing: border-box;
  min-height: 40px;
  padding: 0 0 8px 42px;
  position: relative;
  list-style: none;

  &::before {
    background: rgba(0, 0, 0, .085);
    content: '';
    display: block;
    position: absolute;
    left: 9px;
    top: 0;
    bottom: 0;
    width: 2px;
  }

  .timeline-separator {
    list-style: none;
    position: relative;
    left: -54px;
    padding: 3px 0;
    width: auto;
    background: $primary-color;
    text-align: center;
    border: 4px solid #fff;
    color: #fff;
  }

  .timeline-item {
    position: relative;
    min-height: 36px;
    padding: 5px 0;
    list-style: none;

    .timeline-icon {
      position: absolute;
      left: -54px;
      top: 16px;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background: $primary-color;
      text-align: center;
      border: 4px solid #fff;

      .material-icons {
        color: #fff;
        font-size: 18px;
        line-height: 36px;
      }
    }

    .timeline-no-icon {
      position: absolute;
      left: -41px;
      top: 8px;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: $primary-color;
      text-align: center;
      border: 4px solid #fff;

      .material-icons {
        color: #fff;
        font-size: 18px;
        line-height: 36px;
      }
    }

    .timeline-date {
      float: left;
      min-width: 60px;
      color: #aaa;
      text-align: center;
      line-height: 18px;
      font-size: 16px;
      margin-right: 8px;
      padding-top: 6px;
      width: 70px;
      word-wrap: break-word;
    }

    .timeline-content {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
      overflow: hidden;

      .material-icons {
        font-size: inherit;
      }
    }
  }
}
