@import 'modules/variables';
@import 'modules/utilities';

$fa-font-path: '/assets';
@import 'font-awesome/scss/font-awesome';

$roboto-font-path: '/assets/roboto/';
$icons-font-path: '/assets/';
@import 'materialize-css/sass/materialize';
@import 'modules/material-design';
