@import 'modules/variables';
@import 'modules/utilities';
@import 'materialize-css/sass/materialize';
@import 'modules/material-design';

// Bugs Materialize
.input-field label {
  width: 90%;
}

// Filled in Style
[type="checkbox"].invalid {
  + label:after {
    border: 2px solid $input-error-color !important;
    //content: attr(data-error);
  }
}

// Large button
.btn-small {
  @extend .btn;
  height: $button-height * 0.7;
  line-height: 26px;

  i {
    font-size: $button-font-size-shared * 0.7;
  }
}

// Important input label
.input-field {
  label.important {
    font-size: 1rem;
    font-weight: 600;
  }
}

// Collection display
.collection {
  overflow: visible;
}

.collection.without-border {
  border: 0;
}

// Header
@media #{$medium-only} {
  nav .nav-wrapper {
    i {
      height: 64px;
      line-height: 64px;
    }

    .header-collapse {
      float: none;
    }

    .header-icon {
      float: left;
      height: 64px;
      line-height: 64px;
      padding: 0;
      position: relative;
      z-index: 1;

      i {
        font-size: 2.2rem;
      }
    }
  }
}

@media #{$small-and-down} {
  nav .nav-wrapper {
    i {
      height: 56px;
      line-height: 56px;
    }

    .header-icon {
      float: left;
      height: 56px;
      line-height: 56px;
      padding: 0;
      position: relative;
      z-index: 1;

      i {
        font-size: 2.2rem;
      }
    }
  }
}

// Tooltip : do not show for small screen
@media #{$medium-and-down} {
  .material-tooltip {
    display: none !important;
  }
}


// Go to top
.goto-top {
  background: $color-base url('/assets/up_arrow.png') no-repeat scroll 6px 5px;
  border-radius: 50%;
  bottom: 30px;
  cursor: pointer;
  display: block;
  height: 60px;
  opacity: 0.3;
  position: fixed;
  right: 40px;
  text-decoration: underline;
  transition: opacity 0.6s, visibility 0.6s;
  width: 60px;

  &:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.27);
    opacity: 1;
    transition: opacity 0.6s, visibility 0.63s;
  }
}

@media #{$medium-and-down} {
  .goto-top {
    background-position: -4px -4px;
    right: 10px;
    bottom: 10px;
    height: 40px;
    width: 40px;
  }
}
