@import 'base/variables';

.search-index-root {
  margin: 2rem auto 4rem;
  overflow: visible;
  position: relative;
  max-width: 1180px;
}

.search-index-input-item {
  width: 80%;
  margin: 8px;

  @media #{$large-and-down} {
    width: 95%;
    padding: 8px !important;
  }
}

.search-index-search-icon {
  color: #000;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;

  @media #{$large-and-down} {
    padding: 8px !important;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
}

.search-index-input-form {
  width: 100%;
}

.search-index-input-root {
  color: #000;
  width: 100%;
  padding-left: 40px;
}

.search-index-input-search {
  font-size: 2rem;
}

.search-index-input-tag {
  color: rgba(0, 0, 0, 0.63);
  cursor: pointer;
  margin: 4px;
  font-size: .9rem;
  font-weight: 400;
  border-color: rgba(0, 0, 0, 0.63);
  border-radius: 4px;
}

.search-index-category {
  margin: 12px;
}

.search-index-category-autocomplete {
  margin-top: 0;
  padding-left: 1.5rem;
  margin-bottom: 16px;
}

.search-index-category-helper {
  font-size: .9rem;
  font-style: italic;
  margin-right: 8px;
}

.search-index-category-header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.search-index-category-menu {
  padding-bottom: 12px;
}

.search-index-category-item {
  padding-bottom: 0 !important;
}

.search-index-category-title {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 4px;
}

.search-index-category-subtitle {
  font-style: italic;
  margin-left: .6rem;
  border-bottom: 1px solid #e0e0e0;
}

.search-index-category-count {
  color: #757575;
  font-size: 1rem;
  font-weight: 300;
  margin-left: .6rem;
}

.search-index-category-filter {
  display: inline-block;
}

.search-index-category-filter-list {
  padding: 5px;
}

.search-index-category-filter-selected {
  font-weight: 600;
}

.search-index-category-filter-button {
  padding: 6px;
  font-size: .9rem;
  font-weight: 400;
  color: $text-color;
}

.search-index-category-filter-input {
  font-size: 1rem;
}

.search-index-category-filter-helper {
  font-size: .9rem;
}

.search-index-help-message {
  color: #757575;
  margin: 1.4rem 0;
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
}

.search-index-tag {
  margin: 8px;
}

.search-index-tag-highlighted {
  background-color: $secondary-color-light;
  color: #fff;

  &.search-index-article-tag {
    color: #fff;
  }
}

.search-index-article-card {
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-index-article-card-header {
  width: 100%;
}

.search-index-article-content {
  word-break: break-word;
  padding: 0 16px 16px;
  white-space: pre-line;
}

.search-index-article-tags {
  margin-top: 32px;
  margin-bottom: 0;
}

.search-index-article-tag {
  color: $text-color-secondary;
  cursor: pointer;
  margin: 4px;
  padding: 8px;
  font-size: .9rem;
  font-weight: 400;
  border-color: $text-color-secondary;
  border-radius: 16px;
}

.search-index-article-highlighted-tag {
  background-color: $secondary-color-light;
}

.search-index-tag-autocomplete {
  font-size: .8rem;
}

.search-index-article-title {
  color: $text-color;
  font-size: 1.8rem;
}

.search-index-article-grid-title {
  color: $text-color;
  font-size: 1.5rem;
}

.search-index-article-subtitle {
  font-size: .9rem;
}

.search-index-article-other {
  margin: 2rem 2rem 0;
  font-size: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.search-index-article-links-results {
  border: 1px solid $secondary-color-light;
  margin: 22px 6px 12px;
  padding: 8px;
  font-size: 1rem;
  box-shadow: 1px 1px 2px $secondary-color-light;
  font-style: italic;
  border-radius: 8px;
}


