- if Rails.env.production? && ENV['SENTRY_RAVEN_ADDRESS'] && ENV['SENTRY_JAVASCRIPT_KEY']
  javascript:
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      // g.async = true;
      // g.defer = true;
      g.src = "https://#{ENV['SENTRY_RAVEN_ADDRESS']}/3.27.0/raven.min.js";
      s.parentNode.insertBefore(g, s);
      g.onload = function () {
          Raven.config("#{ENV['SENTRY_JAVASCRIPT_KEY']}").install();
          Raven.setUserContext({
              id: "#{current_user&.id}",
              topic_id: "#{current_user&.current_topic_id}"
          });
          Raven.setTagsContext({
              locale: "#{I18n.locale}"
          });
      };
