javascript:
  window.railsEnv = "#{Rails.env}";
  window.parameters = JSON.parse('#{raw CONFIG.to_json}');

  window.currentUserId = "#{current_user ? current_user.id : 'null'}";
  window.currentUserPseudo = "#{current_user ? current_user.pseudo : 'null'}";

  window.defaultLocale = "#{I18n.default_locale}";
  window.locale = "#{I18n.locale}";

  var _paq = _paq || [];

= yield(:javascript)

/[if lt IE 9]
  = javascript_include_tag 'ie8'

/[if lt IE 10]
  = javascript_include_tag 'ie9'
