#dropdown-component

javascript:
    window.railsEnv = "#{Rails.env}";
    window.settings = JSON.parse('#{raw InRailsWeBlog.config.to_h.to_json}');

    window.I18n = {};
    window.defaultLocale = "#{I18n.default_locale}";
    window.locale = "#{I18n.locale}";

- if Rails.env.production?
  javascript:
      window.revision = "#{REVISION}";

      window.SENTRY_JAVASCRIPT_KEY = "#{ENV['SENTRY_JAVASCRIPT_KEY']}";
      
      window.METRICS_ADDRESS = "#{ENV['METRICS_ADDRESS']}";
      window.METRICS_SITE_NUMBER = "#{ENV['METRICS_SITE_NUMBER']}";
      window.METRICS_FILENAME = "#{ENV['METRICS_FILENAME']}";

      window._paq = window._paq || [];

- if current_user
  javascript:
      window.currentUserId = "#{current_user.id}";
      window.currentUserSlug = "#{current_user.slug}";
      window.currentTopicId = "#{current_user.current_topic.id}";
      window.currentTopicSlug = "#{current_user.current_topic.slug}";

- if current_admin
  javascript:
      window.currentAdminId = "#{current_admin.id}";
      window.currentAdminPseudo = "#{current_admin.pseudo}";

= yield(:javascript)
