/! Metrics
javascript:
    if (window._paq && !window.seoMode) {
        window._paq.push([function () {
            var self = this;

            function getOriginalVisitorCookieTimeout() {
                var now = new Date(),
                    nowTs = Math.round(now.getTime() / 1000),
                    visitorInfo = self.getVisitorInfo();
                var createTs = parseInt(visitorInfo[2]);
                var cookieTimeout = 33696000; // 13 months
                var originalTimeout = createTs + cookieTimeout - nowTs;
                return originalTimeout;
            }

            this.setVisitorCookieTimeout(getOriginalVisitorCookieTimeout());
        }]);
    }

noscript
  p
    img alt="" src="//#{ENV['METRICS_ADDRESS']}/#{ENV['METRICS_FILENAME']}.php?idsite=#{ENV['METRICS_SITE_NUMBER']}" style="border:0;"
