/! Piwik
javascript:
  _paq.push([function () {
    var self = this;

    function getOriginalVisitorCookieTimeout() {
      var now = new Date(),
              nowTs = Math.round(now.getTime() / 1000),
              visitorInfo = self.getVisitorInfo();
      var createTs = parseInt(visitorInfo[2]);
      var cookieTimeout = 33696000; // 13 mois en secondes
      var originalTimeout = createTs + cookieTimeout - nowTs;
      return originalTimeout;
    }

    this.setVisitorCookieTimeout(getOriginalVisitorCookieTimeout());
  }]);

- if current_user
  javascript:
    _paq.push(['setUserId', "#{current_user.pseudo}"]);

javascript:
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['trackAllContentImpressions']);
  (function() {
    var u="//" + "#{ENV['PIWIK_ADDRESS']}" +"/";
    _paq.push(['setTrackerUrl', u + "#{ENV['PIWIK_FILENAME']}" + '.php']);
    _paq.push(['setSiteId', parseInt("#{ENV['PIWIK_SITE_NUMBER']}",10)]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+"#{ENV['PIWIK_FILENAME']}"+'.js'; s.parentNode.insertBefore(g,s);
    })();
noscript
  p
    img alt="" src="//#{ENV['PIWIK_ADDRESS']}/#{ENV['PIWIK_FILENAME']}.php?idsite=#{ENV['PIWIK_SITE_NUMBER']}" style="border:0;"
