meta name="copyright" content="#{I18n.t('head.copyright')}"

= display_meta_tags(reverse: true, separator: '|', og: { site_name: ENV['WEBSITE'], locale: I18n.locale, title: :title, description: :description }).gsub('<title>', '<title itemprop="name">').gsub('<link rel="canonical"', '<link rel="canonical" itemprop="url"').html_safe
