doctype html
html lang="#{I18n.locale}"
head
  meta charset="utf-8"
  meta name="viewport" content="width=device-width, initial-scale=1.0"
  meta http-equiv="Content-Type" content="text/html;charset=utf-8"
  meta name="exporter-version" content="#{ENV['WEBSITE_NAME']} (#{I18n.locale});"

  = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'

  title
    = @title

  css:
      html {
          font-size: 17px;
          line-height: 1.5;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
          font-weight: 400;
          color: rgba(0, 0, 0, .87);
          box-sizing: border-box;
      }

      *, *:before, *:after {
          box-sizing: inherit;
      }

      a {
          -webkit-tap-highlight-color: transparent;
          color: #5b96ec;
          text-decoration: none;
          word-wrap: break-word;
      }

      .container {
          position: relative;
          margin: 0 auto;
          max-width: 1280px;
          width: 90%;
      }

      .normalized-content {
          color: rgba(0, 0, 0, .87);
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: .00938em;
          line-height: 1.5;
          overflow-wrap: break-word;
      }

      h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, li, menu, figure, blockquote, p, form, b, i, th, td {
          margin: 0;
          padding: 0;
      }

      h1, h2 {
          margin-top: 2rem;
          margin-bottom: .5rem;
      }

      h1 + h3, h2 + h3, h1 + p, h2 + p {
          margin-top: .8rem;
      }

      h3 {
          margin-top: 1.8rem;
          margin-bottom: .5rem;
      }

      h3 + h4, h3 + p {
          margin-top: .8rem;
      }

      h4 {
          margin-top: 1.4rem;
          margin-bottom: .5rem;
      }

      h4 + h5, h4 + p {
          margin-top: .8rem;
      }

      h5 {
          margin-top: 1.4rem;
          margin-bottom: .5rem;
      }

      h5 + p {
          margin-top: .8rem;
      }

      h1 {
          clear: left;
          font-size: 2.6rem;
          font-style: normal;
          font-weight: 700;
          letter-spacing: .03px;
          line-height: 1.2;
          text-align: left;
      }

      h2 {
          clear: left;
          font-size: 2.2rem;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 1.2px;
          line-height: 1.2;
          text-align: left;
      }

      h3 {
          clear: left;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 1.2px;
          line-height: 1.2;
          text-align: left;
      }

      h4 {
          clear: left;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.1;
          text-align: left;
      }

      h5, h6 {
          clear: left;
          font-size: 1.15rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.1;
          text-align: left;
      }

      p {
          margin-top: 1.2rem;
          white-space: pre-wrap;
          font-weight: 400;
          font-style: normal;
          line-height: 1.92;
      }

      b, strong {
          font-weight: 700;
      }

      img {
          max-width: 100%;
      }

      a {
          color: #1cd13b;
      }

      a:visited {
          color: #199332;
      }

      ul {
          margin-top: 1rem;
          padding: 0;
      }

      ul li {
          list-style-type: disc !important;
          margin-bottom: .4rem;
          margin-left: 2rem;
      }

      ol {
          margin-top: .8rem;
          padding: 0;
      }

      ol li {
          list-style-type: decimal !important;
          margin-bottom: .4rem;
          margin-left: 2rem;
      }

      code {
          padding: 2px 4px;
          font-size: 90%;
          font-weight: 400;
          letter-spacing: 0.00938rem;
          color: #001565;
          background-color: #5f64c518;
          border-radius: 4px;
      }
      
      code code {
          font-size: inherit;
          padding: 0;
          color: inherit;
          background: none;
      }

      blockquote {
          border-left: 3px solid rgba(0, 0, 0, .15);
          font-style: italic;
          font-weight: 400;
          margin-left: -2rem;
          padding-bottom: 3px;
          padding-left: 2.5rem;
      }

      pre {
          display: block;
          border: 2px solid #e4e4e4;
          border-radius: .25rem;
          margin: .8rem .4rem;
          white-space: pre-wrap;
          word-wrap: break-word;
      }

      pre code {
          background-color: inherit;
          border: none;
          padding: 0;
          font-size: inherit;
      }

      table {
          width: 100%;
          border-collapse: collapse;
      }

      table td, table th {
          padding: 5px 3px;
          border: 1px solid #ececec;
      }

      table sup {
          vertical-align: super;
      }

      table sub {
          vertical-align: sub;
      }

      .secret {
          background-color: #ffd2c4;
          border-left: 6px solid #ff5d2b
      }

      .advice,
      .secret {
          padding: .8rem 1rem;
          margin: .6rem 0 !important;
          border-radius: 3px
      }

      .advice {
          background-color: #b2e5fc;
          border-left: 6px solid #1fb3f6
      }

      .deadend {
          background-color: #d2c5c1;
          padding: .8rem 1rem;
          border-left: 6px solid #90746a;
          margin: .6rem 0 !important;
          border-radius: 3px
      }

      .dead-link {
          color: #f77970 !important;
          text-decoration: line-through
      }

      .tags {
          display: flex;
          flex-wrap: wrap;
          margin-top: 1.5rem;
          align-items: start;
          margin-bottom: 50px;
      }

      .tag {
          margin: 8px;
          color: rgba(0, 0, 0, 0.63);
          cursor: pointer;
          font-size: .9rem;
          font-weight: 600;
          border-radius: 4px;
          padding: 10px;
          border: 1px solid rgba(0, 0, 0, 0.63);
          background-color: transparent;
          height: 32px;
          display: inline-flex;
          outline: 0;
          box-sizing: border-box;
          align-items: center;
          white-space: nowrap;
          vertical-align: middle;
          justify-content: center;
          text-decoration: none;
          word-wrap: break-word;
      }

body
  = yield
